<main id="contact">
    <div class="page-heading text-center">
        <div class="container">
            <h2 class="uppercase">Manage Course</h2>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="row">
                <h4>Course Info</h4>
                <div class="col-sm-10">

                    <h6>Course Name & Course Code: {{institutecourseList.CourseName}} &
                        {{institutecourseList.item.courseCode}}</h6>

                    <p>Desk Type : {{institutecourseList.item.CourseCategory.title}}</p>
                    <p>Academic Month & Year: {{institutecourseList.item.accademicYearMonth}}/
                        {{institutecourseList.item.accademicYear}}</p>
                    <p>Admission Start Date : {{institutecourseList.item.admissionStartDate | date:'fullDate'}}</p>

                    <p>Admission Close Date : {{institutecourseList.item.admissionCloseDate | date:'fullDate'}}</p>
                    <p>Available Seats : {{institutecourseList.item.availableSeats }}</p>
                    
                    <p>Created Date : {{institutecourseList.item.createdAt | date:'fullDate'}}</p>


                </div>
                <div class="col-sm-2">
                    <button routerLink="/institute/edit-course/{{institutecourseList.item.id}}">Edit</button>

                </div>
            </div>
        </div>
        <div class="card"  style="margin-top: 5px;">
            <div class="row">
                <h4>Other Info & Address</h4>

                <div class="col-sm-6">
                    <p>Gender Allowed : <input type="checkbox" disabled
                        [checked]="institutecourseList.item.maleAllowed === true">
                        <span class="spanclass">Male</span>
                        
                    <input type="checkbox" disabled
                        [checked]="institutecourseList.item.femaleAllowed === true"> <span class="spanclass">Female</span>
                    <input type="checkbox" disabled
                        [checked]="institutecourseList.item.otherGenderAllowed === true"> <span class="spanclass">Others</span>
                </p>
                <p>Online Class Availability : <input type="checkbox" disabled
                        [checked]="institutecourseList.item.onlineClassAvailability === true"><span class="spanclass">Yes </span>
                    <input type="checkbox" disabled
                        [checked]="institutecourseList.item.onlineClassAvailability != true"> <span class="spanclass">No </span>
                </p>
                <p>Online Interview : <input type="checkbox" disabled
                        [checked]="institutecourseList.item.onlineInterviewRequired === true"><span class="spanclass">Yes </span>


                    <input type="checkbox" disabled
                        [checked]="institutecourseList.item.onlineInterviewRequired != true"><span class="spanclass">No </span>
                </p>
                <p>Online Interview : <input type="checkbox" disabled
                        [checked]="institutecourseList.item.hasPlacementAssistant === true"><span class="spanclass">Yes </span>
                    <input type="checkbox" disabled
                        [checked]="institutecourseList.item.hasPlacementAssistant != true"><span class="spanclass">No </span>
                </p>
                <p>University Name : {{institutecourseList.item.universityName}}</p>
                <p>Refund Policy :
                    <input type="checkbox" disabled [checked]="institutecourseList.item.refundPolicy === 'true'"><span class="spanclass">Yes </span>
                    <input type="checkbox" disabled [checked]="institutecourseList.item.refundPolicy != 'true'"><span class="spanclass">No </span>
                </p>
                </div>
                <div class="col-sm-4">
                    <p>Address Line 1 : {{institutecourseList.item.campusAddressLine1}}</p>
                    <p>Address Line 2 : {{institutecourseList.item.campusAddressLine2}}</p>
                    <p>Address Line 3 : {{institutecourseList.item.campusAddressLine3}}</p>
                    <p>Block : {{institutecourseList.item.block}}</p>
                    <p>Locality : {{institutecourseList.item.locality}}</p>
                    <p>Country : {{institutecourseList.item.country}}</p>


                </div>
                <div class="col-sm-2">
                    <button routerLink="/institute/edit-course-info/{{institutecourseList.item.id}}">Edit</button>

                </div>
                
            </div>
        </div>
        <div class="card" style="margin-top: 5px;">
            <div class="row">
                <h4>Fees Info</h4>
                <div class="col-sm-6">
                    <p>Course Fee : Rs.{{courseFees?.otherFee}} /-</p>
                    <p>Payment Tenture : {{getpaymentTenture(courseFees?.paymentTenureId).title}}</p>
                    <p>Linked Bank Account Number : {{courseFees?.Institute_BankDetail?.accountNumber}}</p>
                    <p>Linked Bank Account IFSC : {{courseFees?.Institute_BankDetail?.ifsc}}</p>
       

                </div>
                <div class="col-sm-4">
                    <p >Nspot Service Charge : Rs.{{courseFees?.nspotServiceCharge}} /-</p>
                    <p >Nspot Tax : {{ 18 / 100 *  courseFees?.nspotServiceCharge}}</p>
                    <p>Spot Fee : {{courseFees?.spotfee}}</p>


                </div>
                <div class="col-sm-2">
                    <button (click)="viewrecipt()" >Edit</button>

                </div>
            </div>
        </div>
        <div class="card" style="margin-top: 5px;">
            <div class="row">
                <h4>Eligibility & Job Areas</h4>
                <div class="col-sm-6">
                    <p>BRIEF DESCRIPTION : Rs.{{courseFees?.Institute_Course?.eligibiliyInString}}</p>
                    <p>Age Limit  : {{courseFees?.Institute_Course?.ageLimit}}</p>
                    <p>Age Bar : {{courseFees?.Institute_Course?.agebar}}</p>
                    <p>Academic Qualifications : {{courseFees?.Institute_Course?.academicqualifications}}</p>
                    <p>Academic Qualifications : {{courseFees?.Institute_Course?.entranceexam}}</p>
       
                    
                </div>
                <div class="col-sm-4">
                    <p>Job Areas : {{courseFees?.Institute_Course?.jobAreas}}</p>
                    <p>Job Positions : {{courseFees?.Institute_Course?.jobPositions}}</p>
                    <p>Salary Range : {{courseFees?.Institute_Course?.salaryRange}}</p>


                </div>
                <div class="col-sm-2">
                    <button (click)="updatedata()">Edit</button>

                </div>
            </div>
        </div>
    </div>
</main>