.sub-title {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #202020;
    font-weight: 600;
    margin-top: 50px;
  }
  .contact select {
    width: 100%;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    height: 40px;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    color: #5f5f5f;
    font-size: 11px;
    padding-left: 15px;
    background: #fff;
  }
  .contact .checkbox input {
    width: 20px;
    float: left;
  }
  .contact .checkbox span {
    margin-left: 20px;
    margin-top: 15px;
    float: left;
  }
  