<main id="register">

    <div class="page-heading text-center">
        <div class="container">
            <h2> POST YOUR ADMISSION SEAT</h2>
        </div>
    </div>
    <!-- <marquee behavior="" direction=""> Important Note:Please make sure you carefully enter the Full course fee info,Initial fee to be paid by the student info,Required Eligibility etc as these details will be mentioned  in the admisision confirmation letter sent to the applicant where changes cannot be done</marquee> -->
    <marquee behavior="" direction="">{{scrollNotes.POST_YOUR_ADMISSION_SEAT}}</marquee>

    <div class="course-tabs nav" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a [ngClass]="{ 'nav-link': true, 'py-2': true, active: true }">
            Course Info</a>
        <!-- (click)="changeTab(0)" -->
        <a [ngClass]="{ 'nav-link': true, 'py-2': true }">
            Fees Info</a>
        <a [ngClass]="{ 'nav-link': true, 'py-2': true }">
            Eligibility Required</a>

        <a [ngClass]="{ 'nav-link': true, 'py-2': true }">
            Job Opportunities Info</a>
    </div>


    <div class="container success">
        <h4 class="sub-title">
            POST A NEW COURSE - YOU CAN MANAGE YOUR ACTIVE OPENINGS LATER
        </h4>
        <form class="contact" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-4 offset-sm-3">
                    <label class="req uppercase">Select Admission Desk</label>
                    <select formControlName="CourseCategoryId" (change)="maindeksChange($event)">
                        <option value="">Choose Main Desk</option>
                        <option *ngFor="let item of maindeskdata" value="{{item.id}}">{{item.title}}</option>
                    </select>
                </div>

                <!-- Courses -->
                <div class="col-sm-4 offset-sm-3">
                    <label class="req uppercase">Choose category Course</label>

                    <select formControlName="CourseSubCategoryId" (change)="submaindeksChange($event)">
                        <option value="">Choose Course</option>
                        <option *ngFor="let item of submaindesk" value="{{item.id}}">{{item.title}}</option>
                    </select>
                </div>

                <!-- Course streams -->
                <div class="col-sm-4 offset-sm-3">
                    <label class="req uppercase">Choose sub category Course</label>

                    <select formControlName="CourseSubCategory2Id" (change)="loadAccademicLevelCoursessubcat1($event)">
                        <option value="">Choose Course</option>
                        <option *ngFor="let item of courseStreams1" value="{{item.id}}">{{item.title}}</option>
                    </select>
                </div>

                <!-- Course stream specializations -->
                <div class="col-sm-4 offset-sm-3">
                    <label class="req uppercase">Select Course</label>

                    <select formControlName="CourseSubCategory3Id" (change)="loadAccademicLevelCoursessubcat2($event)">
                        <option value="">Choose Course</option>
                        <option *ngFor="let item of courseStreamsSpecializations12" value="{{item.id}}">{{item.title}}
                        </option>
                    </select>

                </div>
                <div class="col-sm-4 offset-sm-3">
                    <label class=" uppercase">Select Course</label>

                    <select formControlName="CourseSubCategory4Id" (change)="loadAccademicLevelCoursessubcat3($event)">
                        <option value="">Choose Course</option>
                        <option *ngFor="let item of courseStreamsSpecializations1" value="{{item.id}}">{{item.title}}
                        </option>
                    </select>

                </div>
                <div class="col-sm-4 offset-sm-3" style="">
                    <label class=" uppercase">Select Course</label>

                    <select formControlName="CourseSubCategory5Id">
                        <option value="">Choose Course</option>
                        <option *ngFor="let item of courseStreamsSpecializations2" value="{{item.id}}">{{item.title}}
                        </option>
                    </select>
                    <p style="    margin-top: 15px;
                    font-weight: bold;">Didn’t find the course you offer? <a routerLink="/institute/contact-us">Contact Us?</a></p>
                </div>

                <!-- <div class="col-sm-4 offset-sm-3">
                   
                    <label class="req uppercase">Select Academic level of Course</label>
                    <select formControlName="accademicLevelId" (change)="loadAccademicLevelCourses($event)">
                        <option value="">Select Academic Level</option>
                        <option *ngFor="let item of accademicLevels" value="{{item.id}}">{{item.title}}</option>
                    </select>
                    <app-control-messages [touched]="touched" [control]="f.accademicLevelId"></app-control-messages>
                </div>

                <div class="col-sm-4 offset-sm-3">
                    <label class="req uppercase">Course Name</label>
                    <select formControlName="accademicLevelCourseId">
                        <option value="">Select Academic Level</option>
                        <option *ngFor="let item of accademicLevelsCourses" value="{{item.id}}">{{item.title}}</option>
                    </select>
                    <app-control-messages [touched]="touched" [control]="f.accademicLevelCourseId">
                    </app-control-messages>
                </div> -->

                <div class="col-sm-4 offset-sm-3">
                    <label class="req uppercase">Course Type</label>
                    <select formControlName="courseTypeId">
                        <option value="">Select course type</option>
                        <option *ngFor="let item of courseTypes" value="{{item.id}}">{{item.title}}</option>
                    </select>
                    <app-control-messages [touched]="touched" [control]="f.courseTypeId"></app-control-messages>
                </div>

                <div class="col-sm-4 offset-3">
                    <label class=" uppercase">Course Code</label>
                    <input type="text" formControlName="courseCode" placeholder="enter course code"  />
                    <!-- <app-control-messages [touched]="touched" [control]="f.courseCode"></app-control-messages> -->
                </div>
                <div class="col-sm-4 offset-3">
                    <label class=" uppercase">Program Code</label>
                    <input type="text" formControlName="programCode" placeholder="enter program code"  />
                    <!-- <app-control-messages [touched]="touched" [control]="f.programCode"></app-control-messages> -->
                </div>
                <div class="col-sm-4 offset-3">
                    <label class="req uppercase">Institution Type</label>
                    <select formControlName="instituteType">
                        <option value="">Select one</option>
                        <option *ngFor="let item of institutionTypeList" value="{{item.title}}">{{item.title}}</option>
                    </select>
                    <app-control-messages [touched]="touched" [control]="f.instituteType"></app-control-messages>
                </div>

                <div class="col-sm-4 offset-3">
                    <label class="req uppercase">Institution Category</label>
                    <select formControlName="instituteCatagory">
                        <option value="">Select one</option>
                        <option *ngFor="let item of institutionCategoryList" value="{{item.title}}">{{item.title}}
                        </option>
                    </select>
                    <app-control-messages [touched]="touched" [control]="f.instituteCatagory"></app-control-messages>
                </div>

                <div class="col-sm-4 offset-3">
                    <label class="req uppercase">University/Academic Board/Other</label>
                    <select formControlName="universityTypeId" (change)="changeType($event)">
                        <option value="">Select one</option>
                        <option *ngFor="let item of universityTypes" value="{{item.id}}">{{item.title}}</option>
                    </select>
                    <app-control-messages [touched]="touched" [control]="f.universityTypeId"></app-control-messages>
                </div>

                <div class="col-sm-4 offset-3" *ngIf="universityTypeSelected === '1'">
                    <label class="req uppercase">Name of University</label>
                    <select formControlName="universityId">
                        <option value="" disabled>Select one</option>
                        <option *ngFor="let item of universityList" value="{{item.id}}">{{item.university}}</option>
                    </select>
                    
                    
                    <app-control-messages [touched]="touched" [control]="f.universityId"></app-control-messages>
                
                
                </div>
                <div class="col-sm-4 offset-3" *ngIf="universityTypeSelected === '2'">
                    <label class="req uppercase">Name of Board</label>
                    <select formControlName="boardId">
                        <option value="" disabled>Select one</option>
                        <option *ngFor="let item of boardList" value="{{item.id}}">{{item.title}}</option>
                    </select>
                    
                    
                    <app-control-messages [touched]="touched" [control]="f.boardId"></app-control-messages>
                
                
                </div>
                <div class="col-sm-4 offset-3" *ngIf="universityTypeSelected === '3'">
                    <label class="req uppercase">Other Types</label>
                    <select formControlName="otherId">
                        <option value="" disabled>Select one</option>
                        <option *ngFor="let item of otherboardList" value="{{item.id}}">{{item.title}}</option>
                    </select>
                    
                    
                    <app-control-messages [touched]="touched" [control]="f.otherId"></app-control-messages>
                
                
                </div>
                <!-- <div class="col-sm-4 offset-3">
                    <label class="req uppercase">Course Stream</label>
                    <select formControlName="courseStreamId" (change)="subloadCourseStreamSpecializations($event)">
                        <option value="">Select Academic Level</option>
                        <option *ngFor="let item of courseStreams" value="{{item.id}}">{{item.title}}</option>
                    </select>
                    <app-control-messages [touched]="touched" [control]="f.courseStreamId"></app-control-messages>
                </div>

                <div class="col-sm-4 offset-3">
                    <label class="uppercase">Specialisation</label>
                    <select formControlName="courseStreamSpecializationId">
                        <option value="">Select Academic Level</option>
                        <option *ngFor="let item of courseStreamsSpecializations" value="{{item.id}}">{{item.title}}
                        </option>
                    </select>
                    <app-control-messages [touched]="touched" [control]="f.courseStreamSpecializationId">
                    </app-control-messages>
                </div> -->

                <div class="col-sm-4 offset-3">
                    <label class=" uppercase">No. Of Vacant Admission Seat</label>
                    <input type="number" formControlName="availableSeats" placeholder="enter course stream" />
                    <!-- <app-control-messages [touched]="touched" [control]="f.availableSeats"></app-control-messages> -->
                </div>

                <div class="col-sm-4 offset-3">
                    <label class="req uppercase">Admission Seat Posting For The Academic Year-Month</label>
                    <div class="col-sm-6 offset-3">
                        <input type="text" formControlName="accademicYear" placeholder="yyyy" />
                        <app-control-messages [touched]="touched" [control]="f.accademicYear"></app-control-messages>
                    </div>
                    <div class="col-sm-6 offset-3">
                        <input type="text" formControlName="accademicYearMonth" placeholder="mm" />
                        <app-control-messages [touched]="touched" [control]="f.accademicYearMonth">
                        </app-control-messages>
                    </div>
                </div>

                <!-- <div class="col-sm-4 offset-3">
                    <label class="req uppercase">Course duration Hour</label> -->
                    <!-- <input type="text" formControlName="courseDuration"
                        placeholder="enter course duration Eg: 1 year 3 months OR 200 hours" /> -->

                    <!-- <select formControlName="courseDuration">
                        <option selected disabled value="">Choose a course duration</option>
                        <option value="Hours">Hours</option>
                        <option value="Month">Monthly</option>
                        <option value="Month">Year</option>

                      
                    </select> -->
                    <!-- <input type="datetime-local" id="meeting-time"
       name="meeting-time"  formControlName="courseDuration"
      > -->
                    <!-- <select>
                        <option value="0-6">0-6 Hour</option>
                        <option value="0-12">0-12 Hour</option>
                        <option value="0-18">0-18 Hour</option>
                        <option value="0-24">0-24 Hour</option> -->


                        <!-- <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="8">9</option>

                            <option value="1">10</option>
                            <option value="1">11</option>
                            <option value="1">12</option>
                            <option value="1">8</option> -->
<!-- 
                    </select>
                    <app-control-messages [touched]="touched" [control]="f.courseDuration"></app-control-messages> -->
                    <!-- <div class="col-sm-4 offset-3">
                        <input type="text" formControlName="courseDuration_year" placeholder="yyyy" />
                        <app-control-messages [touched]="touched" [control]="f.courseDuration_year">
                        </app-control-messages>
                    </div>
                    <div class="col-sm-4 offset-3">
                        <input type="text" formControlName="courseDuration_months" placeholder="mm" />
                        <app-control-messages [touched]="touched" [control]="f.courseDuration_months">
                        </app-control-messages>
                    </div> -->
                <!-- </div> -->

             
                <div class="col-sm-4 offset-3">
                    <label class="req uppercase">Course duration Year (Enter if only applicable)</label>
                    <select  formControlName="year">
                        <option value="0 Year">0 Years</option>

                        <option value="1 Year">1 Years</option>
                        <option value="2 Year">2 Years</option>
                        <option value="3 Year">3 Years</option>
                        <option value="4 Year">4 Years</option>
                        <option value="5 Year">5 Years</option>
                        <option value="6 Year">6 Years</option>
                        <option value="--">--</option>

                    </select>
                </div>

                <div class="col-sm-4 offset-3">
                    <label class="req uppercase">Course duration Months (Enter if only applicable)</label>
                    <select  formControlName="month">
                        <option value="1 Month">1 Months</option>
                        <option value="2 Month">2 Months</option>
                        <option value="3 Month">3 Months</option>
                        <option value="4 Month">4 Months</option>
                        <option value="5 Month">5 Months</option>
                        <option value="6 Month">6 Months</option>
                        <option value="7 Month">7 Months</option>
                        <option value="8 Month">8 Months</option>
                        <option value="9 Month">9 Months</option>
                        <option value="10 Month">10 Months</option>
                        <option value="11 Month">11 Months</option>
                     
                       
                        <option value="--">--</option>

                    </select>
                </div>
                <div class="col-sm-4 offset-3">
                    <label class="req uppercase">Course duration Days (Enter if only applicable)</label>
                    <select  formControlName="day">
                        <option value="1 Days">1 Days</option>
                        <option value="2 Days">2 Days</option>
                        <option value="3 Days">3 Days</option>
                        <option value="4 Days">4 Days</option>
                        <option value="5 Days">5 Days</option>
                        <option value="6 Days">6 Days</option>
                        <option value="7 Days">7 Days</option>
                        <option value="8 Days">8 Days</option>
                        <option value="9 Days">9 Days</option>
                        <option value="10 Days">10 Days</option>
                        <option value="11 Days">11 Days</option>
                        <option value="12 Days">12 Days</option>
                        <option value="13 Days">13 Days</option>
                        <option value="14 Days">14 Days</option>
                        <option value="15 Days">15 Days</option>
                        <option value="16 Days">16 Days</option>
                        <option value="17 Days">17 Days</option>
                        <option value="18 Days">18 Days</option>
                        <option value="19 Days">19 Days</option>
                        <option value="20 Days">20 Days</option>
                        <option value="21 Days">21 Days</option>
                        <option value="22 Days">22 Days</option>
                        <option value="23 Days">23 Days</option>
                        <option value="24 Days">24 Days</option>
                        <option value="25 Days">25 Days</option>
                        <option value="26 Days">26 Days</option>
                        <option value="27 Days">27 Days</option>
                        <option value="28 Days">28 Days</option>
                        <option value="29 Days">29 Days</option>
                        <option value="30 Days">30 Days</option>
                        <option value="31 Days">31 Days</option>
                        <option value="--">--</option>

                    </select>
                </div>
                <div class="col-sm-4 offset-3">
                    <label class="req uppercase">Course duration Hours (Select if only applicable)</label>
                    <input type="text" formControlName="hour">
                   
                </div>
            <div class="col-sm-4 offset-3">
                <label class="req uppercase">Exam Conducted</label>
                <select formControlName="examConducted" id="">
                    <option value="">Select option</option>
                    <option value="daily">Daily</option>
                    <option value="weekly">Weekly</option>
                    <option value="monthly">Monthly</option>
                    <option value="quarterly">Quarterly</option>
                    <option value="semesterly">Semesterly</option>
                    <option value="yearly">Yearly</option>
                </select>
                <app-control-messages [touched]="touched" [control]="f.examConducted"></app-control-messages>
            </div>

            <div class="col-sm-4 offset-3">
                <label class="req uppercase">Course Syllabus</label>
                <input type="file" formControlName="courseSyllabusFile"
                    (change)="onchangeFile('courseSyllabusFile',$event)" />
                <app-control-messages [touched]="touched" [control]="f.courseSyllabusFile"></app-control-messages>
            </div>

            <div class="col-sm-4 offset-3">
                <label class="req uppercase">Admission Starting Date</label>
                <input type="date" formControlName="admissionStartDate" placeholder="enter course stream" />
                <app-control-messages [touched]="touched" [control]="f.admissionStartDate"></app-control-messages>
            </div>

            <div class="col-sm-4 offset-3">
                <label class="req uppercase">Admission Closing Date</label>
                <input type="date" formControlName="admissionCloseDate" placeholder="enter course stream" />
                <app-control-messages [touched]="touched" [control]="f.admissionCloseDate"></app-control-messages>
            </div>

            <div class="col-sm-4 offset-3">
                <label class="req uppercase">Class Starting Date</label>
                <input type="date" formControlName="classStartDate" placeholder="enter course stream" />
                <app-control-messages [touched]="touched" [control]="f.classStartDate"></app-control-messages>
            </div>

            <div class="col-sm-12 offset-3">
                <label class="req uppercase">Gender Allowance</label>
                <div class="col-sm-3">
                    <p class="radio">
                        <input type="checkbox" formControlName="coeducationallowed" id="" />
                        <span>Co-Education</span>
                    </p>
                </div>
                <div class="col-sm-3">
                    <p class="radio">
                        <input type="checkbox" formControlName="maleAllowed" id="" /><span>Male Allowed</span>
                    </p>
                </div>
                <div class="col-sm-3">
                    <p class="radio">
                        <input type="checkbox" formControlName="femaleAllowed" id="" />
                        <span>Female Allowed</span>
                    </p>
                </div>
                <div class="col-sm-3">
                    <p class="radio">
                        <input type="checkbox" formControlName="otherGenderAllowed" id="" />
                        <span>Other</span>
                    </p>
                </div>
              
                <app-control-messages [touched]="touched" [control]="f.maleAllowed"></app-control-messages>
                <app-control-messages [touched]="touched" [control]="f.femaleAllowed"></app-control-messages>
                <app-control-messages [touched]="touched" [control]="f.otherGenderAllowed"></app-control-messages>
            </div>
            <div class="col-sm-4 offset-sm-3">
                <label class="req uppercase">Admission Seat Quota Type</label>
                <select formControlName="admissionType">
                    <option value="" disabled>Choose Admission Category </option>
                    <option value="Management">Management </option>
                    <option value="Merti">Merit </option>
                    <option value="NRI">NRI </option>
                    <option value="other">Other </option>

                </select>
            </div>
            <div class="clearfix"></div>
            <!-- <div class="col-sm-4 offset-3">
                    <label class="req uppercase">Campus Name</label>
                    <input type="text" formControlName="campusName" placeholder="Enter campus name" />
                    <app-control-messages [touched]="touched" [control]="f.campusName"></app-control-messages>
                </div> -->
            <div class="col-sm-4 offset-3">
                <label class="req uppercase">Campus Name</label>
                <input type="text" formControlName="campusAddressLine1" placeholder="Enter campus address line 1" />
                <app-control-messages [touched]="touched" [control]="f.campusAddressLine1"></app-control-messages>
            </div>

            <div class="col-sm-4 offset-3">
                <label class="req uppercase">Campus Address Line 1</label>
                <input type="text" formControlName="campusAddressLine2" placeholder="Enter campus address line 2" />
                <app-control-messages [touched]="touched" [control]="f.campusAddressLine2"></app-control-messages>
            </div>

            <div class="col-sm-4 offset-3">
                <label class="req uppercase">Campus Address Line 2</label>
                <input type="text" formControlName="campusAddressLine3" placeholder="Enter campus address line 3" />
                <app-control-messages [touched]="touched" [control]="f.campusAddressLine3"></app-control-messages>
            </div>



            <div class="col-sm-4 offset-3">
                <label class="req uppercase">City/Place</label>
                <input type="text" formControlName="block" placeholder="Enter City/Place" />
                <app-control-messages [touched]="touched" [control]="f.block"></app-control-messages>
            </div>

            <div class="col-sm-4 offset-3">
                <label class="req uppercase">CAMPUS LOCALITY </label>
                <select name="" id="" formControlName="locality">
                    <option value="" selected disabled>Choose a Campus Locality</option>
                    <option value="Urban">Urban</option>
                    <option value="Rural">Rural</option>

                </select>
                <!-- <input type="text" formControlName="locality" placeholder="enter course stream" /> -->
                <app-control-messages [touched]="touched" [control]="f.locality"></app-control-messages>
            </div>
<!-- 
            <div class="col-sm-4 offset-3">
                <label class="req uppercase">Refund Policy</label>
                <input type="text" formControlName="refundPolicy" placeholder="enter your refund policy" />
                <app-control-messages [touched]="touched" [control]="f.refundPolicy"></app-control-messages>
            </div> -->
            <div class="col-sm-4 offset-3">
                <label class="req uppercase">Country</label>
                <!-- <input type="Text" formControlName="country" placeholder="Enter Country" /> -->
                <select name="" id="" formControlName="country" >
                    <option value="India">India</option>
                </select>
                <app-control-messages [touched]="touched" [control]="f.country"></app-control-messages>
            </div>
            <div class="col-sm-4 offset-3">
                <label class="req uppercase">State</label>

                <select formControlName="stateId" (change)="loaddistricts($event)">
                    <option value="">Choose State</option>
                    <option *ngFor="let item of stateList" value="{{item.id}}">{{item.state}}</option>
                </select>
            </div>
            <div class="col-sm-4 offset-3">
                <label class="req uppercase">District</label>

                <select formControlName="districtId">
                    <option value="">Choose district</option>
                    <option *ngFor="let item of districtList" value="{{item.id}}">{{item.district}}</option>
                </select>
            </div>
            <div class="col-sm-12 offset-3">
                <label class="req uppercase">Online class availability during lockdown, hartal, Pandemic ,
                    unexpected weather Situations?</label>
                <div class="col-sm-4">
                    <p class="radio">
                        <input type="radio" formControlName="onlineClassAvailability" value="true" />
                        <span style="    position: absolute;">
                            Yes
                        </span>

                        <app-control-messages [touched]="touched" [control]="f.onlineClassAvailability">
                        </app-control-messages>
                    </p>
                </div>
                <div class="col-sm-4">
                    <p class="radio">
                        <input type="radio" formControlName="onlineClassAvailability" value="false" /> <span
                            style="    position: absolute;">
                            No
                        </span>

                        <app-control-messages [touched]="touched" [control]="f.onlineClassAvailability">
                        </app-control-messages>
                    </p>
                </div>
            </div>

            <div class="col-sm-4 offset-3" style="margin-top: 40px;">
                <label class="req uppercase">Aptitude Test</label>
                <p class="checkbox">
                    <input type="checkbox" [(ngModel)]="hasAptitudeTest" formControlName="aptituteTestRequired"
                        (change)="onChangeAptitude()" /><span>Required
                    </span>
                </p>
                <div class="clearfix"></div>
                <div *ngIf="form.value.aptituteTestRequired">
                    <div class="col-md-10">
                        <select formControlName="aptituteTestId" id="" style="margin-top: 10px;">
                            <option value="" selected disabled>Choose a Aptitude Test</option>
                            <option *ngFor="let item of aptitudeTests" value="{{item.id}}">{{item.title}}</option>
                        </select>
                        <app-control-messages [touched]="touched" [control]="f.aptituteTestId">
                        </app-control-messages>
                    </div>
                    <div class="col-md-2">
                        <button type="button" (click)="onRefreshAptitude()" style="    margin-top: 10px;
                            padding: 10px;
                            width: 42px;
                            margin-left: -27px;
                            background: #00800038;
                            border: none;"><i class="zmdi zmdi-refresh"></i></button>
                    </div>
                    <div class="clearfix"></div>
                    <!-- <a class="uppercase mt-3 float-right" style="float: right;" href="/institute/aptitude-test/view"
                            target="_blank">Cannot find test you are looking for? Add a new Aptitude Test</a> -->
                </div>
            </div>

            <div class="col-sm-4 offset-3" style="margin-top: 40px;">
                <label class=" uppercase">Virtual Admission Counseling</label>
                <p class="checkbox">
                    <input type="checkbox" formControlName="onlineInterviewRequired" /><span>Required</span>
                </p>
            </div>
            <!-- <div class="col-sm-12 offset-3" style="margin-top: 20px;">
                <label class="req uppercase">Co-Education</label>
                <div class="col-sm-4">
                    <p class="radio">
                        <input type="radio" value="true" />
                        <span style="    position: absolute;">
                            Yes
                        </span>

                        
                    </p>
                </div>
                <div class="col-sm-4">
                    <p class="radio">
                        <input type="radio"  value="false" /> <span
                            style="    position: absolute;">
                            No
                        </span>

                        <app-control-messages [touched]="touched" [control]="f.regularClassOnly">
                        </app-control-messages>
                    </p>
                </div>
            </div> -->

            <div class="col-sm-12 offset-3" style="margin-top: 20px;">
                <label class="req uppercase">Regular Classroom </label>
                <div class="col-sm-4">
                    <p class="radio">
                        <input type="radio" formControlName="regularClassOnly" value="true" />
                        <span style="    position: absolute;">
                            Yes
                        </span>

                        <app-control-messages [touched]="touched" [control]="f.regularClassOnly">
                        </app-control-messages>
                    </p>
                </div>
                <div class="col-sm-4">
                    <p class="radio">
                        <input type="radio" formControlName="regularClassOnly" value="false" /> <span
                            style="    position: absolute;">
                            No
                        </span>

                        <app-control-messages [touched]="touched" [control]="f.regularClassOnly">
                        </app-control-messages>
                    </p>
                </div>
            </div>
            <div class="col-sm-12 offset-3" style="margin-top: 43px;">
                <label class="req uppercase">Online Class Only </label>
                <div class="col-sm-4">
                    <p class="radio">
                        <input type="radio" formControlName="onlineClassOnly" value="true" />
                        <span style="    position: absolute;">
                            Yes
                        </span>

                        <app-control-messages [touched]="touched" [control]="f.onlineClassOnly">
                        </app-control-messages>
                    </p>
                </div>
                <div class="col-sm-4">
                    <p class="radio">
                        <input type="radio" formControlName="onlineClassOnly" value="false" /> <span
                            style="    position: absolute;">
                            No
                        </span>

                        <app-control-messages [touched]="touched" [control]="f.onlineClassOnly">
                        </app-control-messages>
                    </p>
                </div>
            </div>
            <div class="col-sm-12 offset-3" style="margin-top: 43px;">
                <label class="req uppercase">Regular & Online Class </label>
                <div class="col-sm-4">
                    <p class="radio">
                        <input type="radio" formControlName="regularAndonlineClass" value="true" />
                        <span style="    position: absolute;">
                            Yes
                        </span>

                        <app-control-messages [touched]="touched" [control]="f.regularAndonlineClass">
                        </app-control-messages>
                    </p>
                </div>
                <div class="col-sm-4">
                    <p class="radio">
                        <input type="radio" formControlName="regularAndonlineClass" value="false" /> <span
                            style="    position: absolute;">
                            No
                        </span>

                        <app-control-messages [touched]="touched" [control]="f.regularAndonlineClass">
                        </app-control-messages>
                    </p>
                </div>
            </div>

    </div>

    <div class="row clearfix">
        <div class="col-sm-12" style="margin-top: 50px;">
            <div class="pull-right">
                <button class="btn btn-info" id="submit-btn">
                    SAVE AND CONTINUE
                </button>
            </div>
        </div>
    </div>
    </form>
    </div>
    <!-- <pre>{{form.value | json}}</pre> -->

</main>