.card {
    margin-top: 35px;
    padding: 20px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.13);
    width: 50% !important;
  }
  .card h5 {
    margin-top: 30px;
  }
  td{
    text-align: left;
  }
  th{
    text-align: left;
  }