<main>
    <div class="page-heading text-center">
        <div class="container">
            <h2 class="titlecase">Review Student Application</h2>
        </div>
    </div>
    <div class="container index-3-categories" *ngIf="applicationstatus != 'payment-done'">
        <div class="row contact">
            <p></p>
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="additionalForm text-center">
                    <div class="row">
                        <form [formGroup]="reportingForm" (ngSubmit)="onSubmit(reportingForm)">
                            <div class="col-lg-3 mt-2"> Schedule Date of Reporting</div>
                            <div class="col-lg-6"><input type="date" formControlName="dateOfReporting" id=""></div>
                            <div class="col-lg-2 mt-2"><button>Update</button></div>
                        </form>
                    </div>

                    <div class="row">
                        <form [formGroup]="aptitudeForm" (ngSubmit)="onSubmit(aptitudeForm)">
                            <div class="col-lg-3 mt-2"> Schedule Aptitude Test</div>
                            <div class="col-lg-2"><input type="date" formControlName="startDateTimeOfAptitudeTest" id=""></div>
                            <div class="col-lg-2"><input type="date" formControlName="endDateTimeOfAptitudeTest" id=""></div>
                            <div class="col-lg-2">
                                <select formControlName="aptitudeTestId" id="">
                  <option *ngFor="let appttitudetestdetails of appttitudetestdetails"
                    value="{{appttitudetestdetails.id}}">{{appttitudetestdetails.title}}</option>
                </select>
                            </div>
                            <div class="col-lg-2 mt-2"><button>Update</button></div>
                        </form>
                    </div>

                    <div class="row">
                        <form [formGroup]="interviewForm" (ngSubmit)="onSubmit(interviewForm)">
                            <div class="col-lg-3 mt-2">Schedule Virtual Admission Counseling</div>
                            <div class="col-lg-3"><input type="date" formControlName="dateOfInterview" id=""></div>
                            <div class="col-lg-3"><input type="text" formControlName="interviewLink" placeholder="video interview meeting link" id=""></div>
                            <div class="col-lg-2 mt-2"><button>Update</button></div>
                        </form>
                    </div>
                    <div class="row">
                        <form [formGroup]="onlineinterview" (ngSubmit)="onSubmit(onlineinterview)">
                            <div class="col-lg-3 mt-2">Online Interview status</div>
                            <div class="col-lg-6">
                                <input type="text" formControlName="onlineinterviewstatus" placeholder="online interview status">
                            </div>
                            <div class="col-lg-2 mt-2"><button>Update</button></div>
                        </form>
                    </div>

                    <div class="row">
                        <form [formGroup]="reviewForm" (ngSubmit)="onSubmit(reviewForm)">
                            <div class="col-lg-3 mt-2">Remarks</div>
                            <div class="col-lg-6"><textarea class="height100" rows="10" formControlName="remarks" id=""></textarea>
                            </div>
                            <div class="col-lg-2 mt-2"><button>Update</button></div>
                        </form>
                    </div>

                    <button class="float-btn-right" (click)="downloadAsPDF()"><i
              class="zmdi zmdi-download  zmdi-hc-3x"></i></button>
                </div>
            </div>
        </div>
        <!-- <div class="row">
      <div class="col-sm-3">
        <div class="card" style="margin-top: 21px;
        border: none;
        padding: 24px;
        box-shadow: 0 0 10px 2px rgb(0 0 0 / 13%);
        margin-bottom: 18px;
       ">
          <form [formGroup]="reportingForm" (ngSubmit)="onSubmit(reportingForm)">
            <label for="">Schedule Date of Reporting</label>
            <input style="    margin-top: 16px;" type="date" class="form-control" formControlName="dateOfReporting"
              id="">
            <div><button>Update</button></div>
          </form>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" style="margin-top: 21px;
        border: none;
        padding: 24px;
        box-shadow: 0 0 10px 2px rgb(0 0 0 / 13%);
        margin-bottom: 18px;
        ">
        <form [formGroup]="aptitudeForm" (ngSubmit)="onSubmit(aptitudeForm)">
          <label for="">Schedule Aptitude Test</label>
          <div style="    margin-top: 16px;"><input class="form-control" type="date" formControlName="startDateTimeOfAptitudeTest" id=""></div>
          <div style="    margin-top: 16px;"><input class="form-control" type="date" formControlName="endDateTimeOfAptitudeTest" id=""></div>
          <div>
            <select style="    margin-top: 16px;" class="form-control" formControlName="aptitudeTestId" id="">
              <option *ngFor="let appttitudetestdetails of appttitudetestdetails"
                value="{{appttitudetestdetails.id}}">{{appttitudetestdetails.title}}</option>
            </select>
          </div>
          <div><button>Update</button></div>
        </form>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" style="margin-top: 21px;
        border: none;
        padding: 24px;
        box-shadow: 0 0 10px 2px rgb(0 0 0 / 13%);
        margin-bottom: 18px;
        ">
          <form [formGroup]="reviewForm" (ngSubmit)="onSubmit(reviewForm)">
            <label>Remarks</label>
            <div ><textarea class="form-control height100"  rows="10" formControlName="remarks" id=""></textarea>
            </div>
            <div ><button>Update</button></div>
          </form>
        </div>
      </div>
      <div class="col-sm-3">

      </div>

    </div> -->
    </div>
    <!-- <pre>{{applicationData|json}}</pre> -->
    <!-- <pre>{{entrance|json}}</pre> -->


    <!-- <div class="container index-3-categories">
    <div class="row contact">

      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="additionalForm text-center">
          <div class="row">
            <form [formGroup]="reportingForm" (ngSubmit)="onSubmit(reportingForm)">
              <div class="col-lg-3 mt-2"> Schedule Date of Reporting</div>
              <div class="col-lg-6"><input type="date" formControlName="dateOfReporting" id=""></div>
              <div class="col-lg-2 mt-2"><button>Update</button></div>
            </form>
          </div>

          <div class="row">
            <form [formGroup]="aptitudeForm" (ngSubmit)="onSubmit(aptitudeForm)">
              <div class="col-lg-3 mt-2"> Schedule Aptitude Test</div>
              <div class="col-lg-2"><input type="date" formControlName="startDateTimeOfAptitudeTest" id=""></div>
              <div class="col-lg-2"><input type="date" formControlName="endDateTimeOfAptitudeTest" id=""></div>
              <div class="col-lg-2">
                <select formControlName="aptitudeTestId" id="">
                  <option value=""></option>
                </select>
              </div>
              <div class="col-lg-2 mt-2"><button>Update</button></div>
            </form>
          </div>

          <div class="row">
            <form [formGroup]="interviewForm" (ngSubmit)="onSubmit(interviewForm)">
              <div class="col-lg-3 mt-2">Schedule Video Interview</div>
              <div class="col-lg-3"><input type="date" formControlName="dateOfInterview" id=""></div>
              <div class="col-lg-3"><input type="text" formControlName="interviewLink"
                  placeholder="video interview meeting link" id=""></div>
              <div class="col-lg-2 mt-2"><button>Update</button></div>
            </form>
          </div>

          <div class="row">
            <form [formGroup]="reviewForm" (ngSubmit)="onSubmit(reviewForm)">
              <div class="col-lg-3 mt-2">Remarks</div>
              <div class="col-lg-6"><textarea class="height100" rows="10" formControlName="remarks" id=""></textarea>
              </div>
              <div class="col-lg-2 mt-2"><button>Update</button></div>
            </form>
          </div>

        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="clearfix"></div>

      <div class="col-md-1"></div>
      <div class="col-md-10 col-sm-10" id="pdfTable" #pdfTable>
        <div class="applicationForm">
          <style>
            .applicationForm {
              width: 100%;
              border-style: double;
              margin: 35px 0 35px 0;
              border-radius: 20px;
              background-color: #EFF5F9;
            }

            .applicationForm h5 {
              font-weight: 600;
              text-align: center;
              padding: 35px 0 35px 0;
              margin: 0 0 35px 0;
              background-color:#1baee1;
              border-radius: 20px 20px 0 0;
              font-size: 25px;
              color: #FFF;
            }

            .applicationFormItem {
              margin: 10px 0 30px 0;
              text-align: left;
            }

            .applicationFormItem .checkBox {
              float: left;
              width: 30%;
              margin: 0 30px 0 30px;
            }

            .applicationFormItem .labels p {
              font-size: 20px;
            }

            .applicationFormItem .labels img {
              margin: 35px 35px 35px 35px;
            }

            .applicationFormItem .labels p span {
              margin: 0 35px 0 0
            }

            .applicationFormItem .checkBox p {
              font-size: 20px;
            }

            .additionalForm {
              margin: 35px 35px 35px 35px;
              padding: 20px 20px 20px 20px;
              box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.13);
              background-color: #FFF;
            }
          </style>
          <h5>PERSONAL DETAILS OF THE APPLICANT </h5>
          <div class="row">
            <div class="col-xs-12">
              <div class="applicationFormItem" *ngFor="let item of personalInfo;let i=index">
                <div class="checkBox">
                  <p>{{personalInfoKeys[i]}}</p>
                </div>
                <div class="labels">
                  <p><span>:</span>{{item}}</p>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>

          <h5>PERMANENT ADDRESS</h5>
          <div class="row">
            <div class="col-xs-12">
              <div class="applicationFormItem" *ngFor="let item of permanentAddress;let i=index">
                <div class="checkBox">
                  <p>{{permanentAddressKeys[i]}}</p>
                </div>
                <div class="labels">
                  <p><span>:</span>{{item}}</p>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>

          <h5>COMMUNICATION ADDRESS</h5>
          <div class="row">
            <div class="col-xs-12">
              <div class="applicationFormItem" *ngFor="let item of communicationAddress;let i=index">
                <div class="checkBox">
                  <p>{{communicationAddressKeys[i]}}</p>
                </div>
                <div class="labels">
                  <p><span>:</span>{{item}}</p>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>

          <h5>EDUCATION</h5>
          <div class="row">
            <div class="col-xs-12">
              <div class="additionalForm" *ngFor="let item of education;let j=index">
                <div class="applicationFormItem" *ngFor="let item of education[j];let i=index">
                  <div class="checkBox">
                    <p>{{educationKeys?educationKeys[j][i]:''}}</p>
                  </div>
                  <div class="labels">
                    <p><span>:</span>{{item}}</p>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>

          <h5>ENTRANCE</h5>
          <div class="row">
            <div class="col-xs-12">
              <div class="additionalForm" *ngFor="let item of entrance;let j=index">
                <div class="applicationFormItem" *ngFor="let item of entrance[j];let i=index">
                  <div class="checkBox">
                    <p>{{entranceKeys[j][i]}}</p>
                  </div>
                  <div class="labels">
                    <p><span>:</span>{{item}}</p>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>

          <h5>PERMANENT ADDRESS</h5>
          <div class="row">
            <div class="col-xs-12">
              <div class="applicationFormItem" *ngFor="let item of certificates;let i=index">
                <div class="checkBox">
                  <p>{{certificatesKeys[i]}}</p>
                </div>
                <div class="labels">
                  <img src="{{baseApiUrl}}{{item}}" alt="">
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>


        </div>


      </div>

      <div class="row text-center">
        <div class="col-sm-4">
          <button class="btn btn-danger width-160" (click)="confirmReject(applicationId)">Reject</button>
        </div>
        <div class="col-sm-4">
          <button class="btn btn-info width-160" (click)="confirmResubmission(applicationId)">Request
            Resubmition</button>
        </div>
        <div class="col-sm-4">
          <button class="btn btn-success width-160" (click)="confirmAcceptance(applicationId)">Approve</button>
        </div>
        <button class="float-btn-right" (click)="downloadAsPDF()"><i
            class="zmdi zmdi-download  zmdi-hc-3x"></i></button>

      </div>

    </div>
  </div> -->
    <div class="container" id="pdfTable" #pdfTable >
      <div style="margin: 90px;">

    
        <div class="card" >
            <div class="row">
                <div class="col-sm-2">
                    <img src="./assets/images/accredited.jpg" alt="" width="148px">

                </div>
                <div class="col-sm-8">
                    <h6 style="text-align: center;margin-bottom: 11px;">{{instituteInfo?.name}}</h6>
                    <p style="text-align: center;margin-bottom: 11px;">
                        {{instituteInfo?.nameofTown}},{{instituteInfo?.block}},{{instituteInfo?.district}},{{instituteInfo?.state}}
                    </p>
                </div>
                <div class="col-sm-2">
                    <!-- <img src="./images/logo.png" alt="" width="100px"> -->
                    <img src="./assets/images/accredited.jpg" alt="" width="148px">

                </div>
            </div>
        </div>
        <div class="card">

            <div class="row">


                <h5 class="headers">INSTITUTION INFO </h5>

            </div>
            <div class="row" style="margin-top: 10px;margin-left: 10px;margin-bottom: 10px;margin-right: 10px;">
                <div class="col-sm-5">
                    <p> Institution Reg/Ref:No.(Enter Manually at the time of Admission Confirmation)</p>
                </div>
                <div class="col-sm-2">
                    <p style="
            text-align: center;
        ">:</p>
                </div>
                <div class="col-sm-5">
                    <p> .................................................</p>
                </div>

            </div>
            <div class="row" style="margin-top: 10px;margin-left: 10px;margin-bottom: 10px;margin-right: 10px;">
                <div class="col-sm-5">
                    <p> Admission Application Submitted Date</p>
                </div>
                <div class="col-sm-2">
                    <p style="
            text-align: center;
        ">:</p>
                </div>
                <div class="col-sm-5">
                    <p> {{applicationData?.createdAt | date }}</p>
                </div>

            </div>


            <div class="row" style="margin-top: 10px;margin-left: 10px;margin-bottom: 10px;margin-right: 10px;">
                <div class="col-sm-5">
                    <p> Admission Application Number</p>
                </div>
                <div class="col-sm-2">
                    <p style="
            text-align: center;
        ">:</p>
                </div>
                <div class="col-sm-5">
                    <p> .................................................</p>
                </div>

            </div>
           

            <div class="row" style="margin-top: 10px;margin-left: 10px;margin-bottom: 10px;margin-right: 10px;">
                <div class="col-sm-5">
                    <p> Admission Application for the Academic Year</p>
                </div>
                <div class="col-sm-2">
                    <p style="
            text-align: center;
        ">:</p>
                </div>
                <div class="col-sm-5">
                    <p>{{getcurrentyear()}}
                        <p>
                </div>

            </div>
            <div class="row" style="margin-top: 10px;margin-left: 10px;margin-bottom: 10px;margin-right: 10px;">
                <div class="col-sm-5">
                    <p>NSpot Reference No </p>
                </div>
                <div class="col-sm-2">
                    <p style="
            text-align: center;
        ">:</p>
                </div>
                <div class="col-sm-5">
                    <p> {{applicationData?.nSpotReferenceId}}
                        <p>
                </div>

            </div>



            <div class="row" style="margin-top: 10px;margin-left: 10px;margin-bottom: 10px;margin-right: 10px;">
                <div class="col-sm-5">
                    <p>Roll No & Year (Enter Manually at the time of Admission Confirmation)</p>
                </div>
                <div class="col-sm-2">
                    <p style="
            text-align: center;
        ">:</p>
                </div>
                <div class="col-sm-5">
                    <p> .................................................</p>
                </div>

            </div>


            <div class="row" style="margin-top: 10px;margin-left: 10px;margin-bottom: 10px;margin-right: 10px;">
                <div class="col-sm-5">
                    <p>Institution Name</p>
                </div>
                <div class="col-sm-2">
                    <p style="
            text-align: center;
        ">:</p>
                </div>
                <div class="col-sm-5">
                    <p> {{instituteInfo?.name}}

                    </p>
                </div>

            </div>

            <div class="row" style="margin-top: 10px;margin-left: 10px;margin-bottom: 10px;margin-right: 10px;">
                <div class="col-sm-5">
                    <p>Institution Type</p>
                </div>
                <div class="col-sm-2">
                    <p style="
            text-align: center;
        ">:</p>
                </div>
                <div class="col-sm-5">
                    <p> .................................................</p>

                </div>

            </div>


            <div class="row" style="margin-top: 10px;margin-left: 10px;margin-bottom: 10px;margin-right: 10px;">
                <div class="col-sm-5">
                    <p> Institution Category</p>
                </div>
                <div class="col-sm-2">
                    <p style="
            text-align: center;
        ">:</p>
                </div>
                <div class="col-sm-5">
                    <p> .................................................</p>

                </div>

            </div>


            <div class="row" style="margin-top: 10px;margin-left: 10px;margin-bottom: 10px;margin-right: 10px;">
                <div class="col-sm-5">
                    <p> Institution Head Office/Corporate Address</p>
                </div>
                <div class="col-sm-2">
                    <p style="
            text-align: center;
        ">:</p>
                </div>
                <div class="col-sm-5">
                    <p> {{instituteInfo?.addressLine1}},{{instituteInfo?.addressLine1}},{{instituteInfo?.addressLine1}}</p>

                </div>

            </div>










            <div class="row">


                <h5 class="headers">PERSONAL INFORMATIONS OF THE APPLICANT </h5>
                <img src="./assets/images/kyc.png" alt="" style="
       width: 139px; float: right; margin-top: -65px; margin-right: 30px;height: 137px;">
            </div>

            <hr>
            <div class="row" *ngFor="let item of personalInfo;let i=index" style="margin-top: 10px;margin-left: 10px;margin-bottom: 10px;margin-right: 10px;">
                <div class="col-sm-5">
                    <p>{{insertSpaces(personalInfoKeys[i]) | titlecase}}</p>
                </div>
                <div class="col-sm-2">
                    <p style="
              text-align: center;
          ">:</p>
                </div>
                <div class="col-sm-5">
                    <p> {{item | titlecase}}</p>
                </div>
            </div>

        </div>

        <!--ADD_PAGE-->

        <div class="card">
            <h5 class="headers">PERMANENT ADDRESS </h5>
            <hr>

            <div class="row" *ngFor="let item of permanentAddress;let i=index" style="margin-top: 10px;margin-left: 10px;margin-bottom: 10px;margin-right: 10px;">
                <div class="col-sm-5">
                    <p>{{insertSpaces(permanentAddressKeys[i]) | titlecase}}</p>
                </div>
                <div class="col-sm-2">
                    <p style="
            text-align: center;
        ">:</p>
                </div>
                <div class="col-sm-5">
                    <p> {{item | titlecase}}</p>
                </div>


            </div>
            <h5 class="headers">COMMUNICATION ADDRESS</h5>
            <hr>

            <div class="row" *ngFor="let item of communicationAddress;let i=index" style="margin-top: 10px;margin-left: 10px;margin-bottom: 10px;margin-right: 10px;">
                <div class="col-sm-5">
                    <p>{{insertSpaces(communicationAddressKeys[i]) | titlecase}}</p>
                </div>
                <div class="col-sm-2">
                    <p style="
            text-align: center;
        ">:</p>
                </div>
                <div class="col-sm-5">
                    <p> {{item | titlecase}}</p>
                </div>
            </div>
            <h5 class="headers">EDUCATION DETAILS</h5>
            <hr>
            <div class="row">
                <div class="col-xs-12">
                    <div class="additionalForm" *ngFor="let item of education;let j=index">
                        <div class="applicationFormItem" *ngFor="let item of education[j];let i=index">
                            <div class="checkBox">
                                <p>{{insertSpaces(educationKeys?educationKeys[j][i]:'')}}</p>
                            </div>
                            <div class="labels">
                                <p><span>:</span>{{item}}</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <h5 class="headers">ENTRANCE DETAILS</h5>
            <div class="row">
                <div class="col-xs-12">
                    <div class="additionalForm" *ngFor="let item of entrance;let j=index">
                        <div class="applicationFormItem" *ngFor="let item of entrance[j];let i=index">
                            <div class="checkBox">
                                <p>{{insertSpaces(entranceKeys[j][i])}}</p>
                            </div>
                            <div class="labels">
                                <p><span>:</span>{{item}}</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <h5 class="headers">CERTIFICATE DETAILS</h5> -->
            <p style="    font-size: 19px;"> <input type="checkbox" checked disabled style="width: 44px;">Rules and Regulatons of the Institution
            </p>

            <p style="    font-size: 19px;"> <input type="checkbox" checked disabled style="width: 44px;">I Agreee hereby declare that NPSOT TERMS
            </p>
            <p style="    font-size: 19px;"> <input type="checkbox" checked disabled style="width: 44px;">I Agreee hereby declare that NSPOT PRIVACY
            </p>
            <p style="    font-size: 19px;"> <input type="checkbox" checked disabled style="width: 44px;">I certify that the information submitted by me in support of this application is true to the best of my knowledge and belief.

            </p>
            <div class="row">
                <img src="./assets/images/signature.png" style="width: 146px;
        float: right;
        margin-right: 48px;
        margin-bottom: 20px;" alt="">
                <p style="float: right;
        margin-top: 20px;
        margin-right: 11px;
        font-size: 23px;
        font-weight: bold;">Signature</p>
                <!-- <input type="checkbox" checked>I accept the Terms of Service -->
            </div>

        </div>
      </div>
    </div>
    <div class="container">
        <button class="downloaddoc" (click)="doc()">Download Documents</button>

    </div>
    <!-- <h5
     style="text-align: center;margin-top: 20px;margin-bottom: 20px;">Download Certificate</h5>
  <div class="row" style="    display: flex; margin-left: 20px; margin-right: 20px;
  overflow: auto;">
    
    
    <button class="buttons-color"><i class="zmdi zmdi-download  zmdi-hc-3x" style="font-size: 13px;"></i> <br> Aadhar Certificate </button>
    <button class="buttons-color"><i class="zmdi zmdi-download  zmdi-hc-3x" style="font-size: 13px;"></i>   <br>     Birth  Certificate </button>
    <button class="buttons-color"><i class="zmdi zmdi-download  zmdi-hc-3x" style="font-size: 13px;"></i> <br> Community  Certificate </button>
    <button class="buttons-color"><i class="zmdi zmdi-download  zmdi-hc-3x" style="font-size: 13px;"></i>  <br>Differently Certificate </button>
    <button class="buttons-color"><i class="zmdi zmdi-download  zmdi-hc-3x" style="font-size: 13px;"></i>  <br>Character Certificate </button>
    <button class="buttons-color"><i class="zmdi zmdi-download  zmdi-hc-3x" style="font-size: 13px;"></i>  <br>Conduct Certificate </button>
    <button class="buttons-color"><i class="zmdi zmdi-download  zmdi-hc-3x" style="font-size: 13px;"></i> <br> Entrance Certificate </button>
    <button class="buttons-color"><i class="zmdi zmdi-download  zmdi-hc-3x" style="font-size: 13px;"></i>  <br>SSLC Certificate </button>
    <button class="buttons-color"><i class="zmdi zmdi-download  zmdi-hc-3x" style="font-size: 13px;"></i>  <br>PLUS 2 Certificate </button>
    <button class="buttons-color"><i class="zmdi zmdi-download  zmdi-hc-3x" style="font-size: 13px;"></i>  <br>Experience Certificate </button>
    <button class="buttons-color"><i class="zmdi zmdi-download  zmdi-hc-3x" style="font-size: 13px;"></i>  <br>Income Certificate </button>
    <button class="buttons-color"><i class="zmdi zmdi-download  zmdi-hc-3x" style="font-size: 13px;"></i>  <br>Migration Certificate </button>
    <button class="buttons-color"><i class="zmdi zmdi-download  zmdi-hc-3x" style="font-size: 13px;"></i>  <br>Nativity Certificate </button>
    <button class="buttons-color"><i class="zmdi zmdi-download  zmdi-hc-3x" style="font-size: 13px;"></i>  <br>PAN Card </button>
    <button class="buttons-color"><i class="zmdi zmdi-download  zmdi-hc-3x" style="font-size: 13px;"></i>  <br>Passport size Photo  </button>
    <button class="buttons-color"><i class="zmdi zmdi-download  zmdi-hc-3x" style="font-size: 13px;"></i>  <br>Scholarship  </button>
    <button class="buttons-color"><i class="zmdi zmdi-download  zmdi-hc-3x" style="font-size: 13px;"></i>  <br>Signature  </button>
    <button class="buttons-color"><i class="zmdi zmdi-download  zmdi-hc-3x" style="font-size: 13px;"></i>  <br>Transfer Certificate(TC) </button>
    <button class="buttons-color"><i class="zmdi zmdi-download  zmdi-hc-3x" style="font-size: 13px;"></i>  <br>Thumb Impression  </button>
    <button class="buttons-color"><i class="zmdi zmdi-download  zmdi-hc-3x" style="font-size: 13px;"></i>  <br>Driving Licence   </button>
   
    <button class="buttons-color"><i class="zmdi zmdi-download  zmdi-hc-3x" style="font-size: 13px;"></i> <br> Father's Signature  </button>
    <button class="buttons-color"><i class="zmdi zmdi-download  zmdi-hc-3x" style="font-size: 13px;"></i>  <br>Mother's Signature  </button>
    <button class="buttons-color"><i class="zmdi zmdi-download  zmdi-hc-3x" style="font-size: 13px;"></i> <br> Guardian's Signature  </button>
    

  </div> -->
    <div class="row text-center" style="margin-top: 15px;" *ngIf="applciaitonstatus === 'pre-application-applied'">
        <div class="col-sm-6">
            <button class="btn btn-danger width-160" (click)="confirmReject(applicationId)">Reject</button>
        </div>
        <!-- <div class="col-sm-4">
      <button class="btn btn-info width-160" (click)="confirmResubmission(applicationId)">Request
        Resubmition</button>
    </div> -->
        <div class="col-sm-6">
            <button class="btn btn-success width-160" (click)="confirmAcceptance(applicationId)">Approve</button>
        </div>
        <button class="float-btn-right" (click)="downloadAsPDF()">

      <abbr title="Donwload Application Form"><i class="zmdi zmdi-download  zmdi-hc-3x"></i></abbr>

    </button>

    </div>
</main>