<main id="register">
    <!-- <pre>{{form.value|json}}</pre> -->
    <div class="page-heading text-center">
        <div class="container">
            <h2> POST YOUR ADMISSION SEAT</h2>

        </div>
    </div>

    <div class="course-tabs nav" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a [ngClass]="{ 'nav-link': true, 'py-2': true}">
            Course Info</a>
        <a [ngClass]="{ 'nav-link': true, 'py-2': true}">
            Fees Info</a>
        <a [ngClass]="{ 'nav-link': true, 'py-2': true, active: true   }">
            Eligibility Required</a>
        <a [ngClass]="{ 'nav-link': true, 'py-2': true }">
            Job Opertunities Info</a>
    </div>

    <div class="container success">
        <h4 class="sub-title">
            ELIGIBILITY & REQUIRED DOCUMENTS
        </h4>
        <form class="contact" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-12">
                    <label class="req uppercase">Brief description about eligibility for the course</label>
                    <textarea formControlName="eligibiliyInString" id="" cols="30" rows="10" placeholder="Educational qualification,Age, Cut off marks needed etc"></textarea>
                    <app-control-messages [touched]="touched" [control]="f.eligibiliyInString"></app-control-messages>

                    <!-- <select >
                        <option value="">Educational qualification</option>
                        <option value="">Age</option>
                        <option value="">Educational qualification</option>

                    </select> -->
                    <button>Add next line</button>
                </div>

                <div class="col-sm-12">
                    <label for="">Age Limit Required</label>
                    <input type="text" placeholder="Description Column eg: should be 18 years as on">
                </div>
                <div class="col-sm-12">
                    <label for="">No Age Bar  </label>
                   
                    <input type="text" placeholder="yes or no">
           
                </div>
                <div class="col-sm-12">
                    <label for="">Academic Qualification Required</label>
                    <input type="text">
                </div>
                <div class="col-sm-12">
                    <label for="">Entrance Exam Required</label>
                    <input type="text">
                </div>
                
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <button id="submit-btn" type="submit" class="btn btn-info mb-5" [disabled]="form.invalid">
                                SAVE AND CONTINUE
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>