<!-- !!IMPORTANT Deprecated page (this page is not in use) -->

<main id="register">
  <div class="page-heading text-center">
    <div class="container">
      <h2>NOT REGISTERED? ENTER FOLLOWING DETAILS AND SUBMIT</h2>
    </div>
  </div>
  <div class="container success">
    <!-- <h4 class="sub-title">EDUCATIONAL INSTITUTION - SIGNUP</h4> -->
    <form class="contact">
      <div class="row">
        <div class="col-sm-6 offset-sm-3">
          <label class="req uppercase">Name of the Educational Institute to be registered</label>
          <input
            type="text"
            name="name"
            placeholder="enter your name"
            required
          />
        </div>
        <div class="col-sm-6 offset-sm-3">
          <label class="req">TYPE OF THE INSTITUTION</label>
          <select name="type">
            <option value="0">Select Institution type</option>
            <option value="1">Pre primary school</option>
            <option value="2">LP school</option>
            <option value="3">UP school</option>
            <option value="3">High School</option>
            <option value="3">Higher Secondary School</option>
            <option value="3">Professional College</option>
            <option value="3">Training Institutes</option>
            <option value="3">Tution Centres</option>
            <option value="3">Other</option>
          </select>
        </div>
        <div class="col-sm-6 offset-3">
          <label class="req">E-MAIL ADDRESS</label>
          <input
            type="text"
            name="email"
            placeholder="enter e-mail address"
            required
          />
        </div>
        <div class="col-sm-6 offset-3">
          <label>MOBILE NUMBER</label>
          <input type="text" name="site" placeholder="https:///" />
        </div>
        <div class="col-sm-6 offset-3">
          <label>PASSWORD</label>
          <input type="text" name="site" placeholder="subject" />
        </div>
        <div class="col-sm-6 offset-3">
          <label>CONFIRM PASSWORD</label>
          <input type="text" name="site" placeholder="subject" />
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-sm-12">
          <label class="req">MESSAGE</label>
          <textarea
            name="name"
            placeholder="type in a message"
            required
          ></textarea>
        </div> -->
      </div>
      <div class="row clearfix">
        <div class="col-sm-12">
          <div class="pull-right">
            <button (click)="submit()" class="greybutton">SUBMIT</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</main>
