<main id="register">
    <div class="page-heading text-center">
        <div class="container">
            <h2>Forgot Password</h2>

        </div>
    </div>
    <div class="container success">
        <!-- <h4 class="sub-title">EDUCATIONAL INSTITUTION - SIGNUP</h4> -->
        <form class="contact" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="row">

                <div class="col-sm-12">
                    <label>USER ID</label>
                    <input   type="text" name="site" placeholder="User Name" formControlName="userId"/>
                    <div *ngIf="submitted && registerForm.get('userId').errors" class="alert alert-danger">
                        <div *ngIf="registerForm.get('userId').errors.required">User ID is required</div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <label>PASSWORD</label>
                    <input   type="password" formControlName="password" placeholder="Enter new Password">
                    <div *ngIf="submitted && registerForm.get('password').errors" class="alert alert-danger">
                        <div *ngIf="registerForm.get('password').errors.required">Password is required</div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <label>CONFIRM PASSWORD</label>
                    <input  type="password" formControlName="confirmPassword" placeholder="Confirm your Password">
                    <div *ngIf="submitted && registerForm.get('confirmPassword').errors" class="alert alert-danger">
                        <div *ngIf="registerForm.get('confirmPassword').errors.required">Confirm Password is required
                        </div>

                        <div *ngIf="registerForm.get('confirmPassword').errors.confirmPasswordValidator">Passsword and
                            Confirm Password didn't match. </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <button class="greybutton" style="    width: 100%;">Reset Password</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>