<main id="register">
    <div class="page-heading text-center">
        <div class="container">
            <h2>UPDATE INFRASTRUCTURE-FACILITIES & EVENTS </h2>
        </div>
    </div>







    <div class="container">


        <form class="contact" [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="col-sm-12">
                <label for="">AREA OF CAMPUS</label>
                <input type="text" placeholder="eg:51752 Sq. mt"  formControlName="areaOfCampus">
            </div>
            <div class="col-sm-3">
                <label class="uppercase">No. of Classrooms</label>
                <input type="text" placeholder="No of class rooms" formControlName="noOfClassRoom">

            </div>
            <div class="col-sm-3">
                <label class="uppercase">Total Student Strength as on date</label>
                <input type="text" placeholder="Total Student Strength as on date" formControlName="totalStudentStrength">

            </div>

            <div class="col-sm-3">
                <label class="uppercase">Student Teacher Ratio</label>
                <input type="text" placeholder="Student Teacher Ratio" formControlName="studentTeacherRatio">

            </div>
            <div class="col-sm-3">
                <label class="uppercase">Total no.of Teachers</label>
                <input type="text" placeholder="Total no.of Teachers" formControlName="noOfTeachers">

            </div>
            <div class="col-sm-3">
                <label class="uppercase">Language of Instruction</label>
                <input type="text" placeholder="Language of Instruction" formControlName="instructionLanguage">

            </div>
            <div class="col-sm-3">
                <label class="uppercase">Sports </label>
                <input type="text" placeholder="Sports  " formControlName="sports">

            </div>
            <div class="col-sm-3">
                <label class="uppercase">Indoor Games </label>
                <input type="text" placeholder="Indoor Games   " formControlName="indoorGames">

            </div>
            <div class="col-sm-3">
                <label class="uppercase">Outdoor Games </label>
                <input type="text" placeholder="Outdoor Games  " formControlName="outdoorGames">

            </div>
            <div class="col-sm-3">
                <label class="uppercase">Performing Arts </label>
                <input type="text" placeholder="Performing Arts  " formControlName="performingArts">

            </div>
            <div class="col-sm-3">
                <label class="uppercase">Visual Arts </label>
                <input type="text" placeholder="Visual Arts " formControlName="visualArts">

            </div>
            <div class="col-sm-3">
                <label class="uppercase">Campus Events </label>
                <input type="text" placeholder="Campus Events  " formControlName="campusEvents">

            </div>
            <div class="col-sm-4">
                <label class="uppercase">Campus Recruitment</label>
                <div class="col-sm-4">
                    <p class="radio">
                        <input type="radio" [value]="true"  style="width: 18px;
                        position: absolute;
                        margin-left: 38px;
                        margin-top: -9px;" formControlName="campusRecruitment" />
                        <span style="    position: absolute;">
                            Yes
                        </span>
                        <input type="radio" [value]="false"  style="    width: 18px;
                        position: absolute;
                        margin-left: 118px;
                        margin-top: -9px;" formControlName="campusRecruitment"/>
                        <span style="margin-left: 89px;    position: absolute;">
                            No
                        </span>
                    
                    </p>
                </div>

            </div>
            <div class="col-sm-4">
                <label class="uppercase">Library </label>
                <div class="col-sm-4">
                    <p class="radio">
                        <input type="radio" [value]="true"  style="width: 18px;
                        position: absolute;
                        margin-left: 38px;
                        margin-top: -9px;" formControlName="library"/>
                        <span style="    position: absolute;">
                            Yes
                        </span>
                        <input type="radio" [value]="false"  style="    width: 18px;
                        position: absolute;
                        margin-left: 118px;
                        margin-top: -9px;" formControlName="library"/>
                        <span style="margin-left: 89px;    position: absolute;">
                            No
                        </span>
                    
                    </p>
                </div>

            </div>
            <div class="col-sm-4">
                <label class="uppercase">Laboratory </label>
                <div class="col-sm-4">
                    <p class="radio">
                        <input type="radio" [value]="true"  style="width: 18px;
                        position: absolute;
                        margin-left: 38px;
                        margin-top: -9px;" formControlName="lab"/>
                        <span style="    position: absolute;">
                            Yes
                        </span>
                        <input type="radio" formControlName="lab" [value]="false"  style="    width: 18px;
                        position: absolute;
                        margin-left: 118px;
                        margin-top: -9px;"/>
                        <span style="margin-left: 89px;    position: absolute;">
                            No
                        </span>
                    
                    </p>
                </div>

            </div>
            <div class="col-sm-4">
                <label class="uppercase">Digital Classrooms </label>
                <div class="col-sm-4">
                    <p class="radio">
                        <input type="radio" formControlName="digitalClassRoom" [value]="true"  style="width: 18px;
                        position: absolute;
                        margin-left: 38px;
                        margin-top: -9px;"/>
                        <span style="    position: absolute;">
                            Yes
                        </span>
                        <input type="radio" formControlName="digitalClassRoom" [value]="false"  style="    width: 18px;
                        position: absolute;
                        margin-left: 118px;
                        margin-top: -9px;"/>
                        <span style="margin-left: 89px;    position: absolute;">
                            No
                        </span>
                    
                    </p>
                </div>

            </div>
            <div class="col-sm-4">
                <label class="uppercase">A/C Classrooms  </label>
                <div class="col-sm-4">
                    <p class="radio">
                        <input type="radio" formControlName="acClassRom" [value]="true"  style="width: 18px;
                        position: absolute;
                        margin-left: 38px;
                        margin-top: -9px;"/>
                        <span style="    position: absolute;">
                            Yes
                        </span>
                        <input type="radio" formControlName="acClassRom" [value]="false"  style="    width: 18px;
                        position: absolute;
                        margin-left: 118px;
                        margin-top: -9px;"/>
                        <span style="margin-left: 89px;    position: absolute;">
                            No
                        </span>
                    
                    </p>
                </div>

            </div>

            <div class="col-sm-4">
                <label class="uppercase">Canteen  </label>
                <div class="col-sm-4">
                    <p class="radio">
                        <input type="radio" formControlName="canteen" [value]="true"  style="width: 18px;
                        position: absolute;
                        margin-left: 38px;
                        margin-top: -9px;"/>
                        <span style="    position: absolute;">
                            Yes
                        </span>
                        <input type="radio" formControlName="canteen" [value]="false"  style="    width: 18px;
                        position: absolute;
                        margin-left: 118px;
                        margin-top: -9px;"/>
                        <span style="margin-left: 89px;    position: absolute;">
                            No
                        </span>
                    
                    </p>
                </div>

            </div>

            <div class="col-sm-4">
                <label class="uppercase">Auditorium  </label>
                <div class="col-sm-4">
                    <p class="radio">
                        <input type="radio" formControlName="auditorium" [value]="true"  style="width: 18px;
                        position: absolute;
                        margin-left: 38px;
                        margin-top: -9px;"/>
                        <span style="    position: absolute;">
                            Yes
                        </span>
                        <input type="radio" formControlName="auditorium" [value]="false"  style="    width: 18px;
                        position: absolute;
                        margin-left: 118px;
                        margin-top: -9px;"/>
                        <span style="margin-left: 89px;    position: absolute;">
                            No
                        </span>
                    
                    </p>
                </div>

            </div>
            <div class="col-sm-4">
                <label class="uppercase">Medical Aid Assistance  </label>
                <div class="col-sm-4">
                    <p class="radio">
                        <input type="radio" formControlName="medicalAid" [value]="true"  style="width: 18px;
                        position: absolute;
                        margin-left: 38px;
                        margin-top: -9px;"/>
                        <span style="    position: absolute;">
                            Yes
                        </span>
                        <input type="radio" formControlName="medicalAid" [value]="false"  style="    width: 18px;
                        position: absolute;
                        margin-left: 118px;
                        margin-top: -9px;"/>
                        <span style="margin-left: 89px;    position: absolute;">
                            No
                        </span>
                    
                    </p>
                </div>

            </div>
            <div class="col-sm-4">
                <label class="uppercase">CCTV Surveillance  </label>
                <div class="col-sm-4">
                    <p class="radio">
                        <input type="radio" formControlName="cctv" [value]="true"  style="width: 18px;
                        position: absolute;
                        margin-left: 38px;
                        margin-top: -9px;"/>
                        <span style="    position: absolute;">
                            Yes
                        </span>
                        <input type="radio" formControlName="cctv" [value]="false"  style="    width: 18px;
                        position: absolute;
                        margin-left: 118px;
                        margin-top: -9px;"/>
                        <span style="margin-left: 89px;    position: absolute;">
                            No
                        </span>
                    
                    </p>
                </div>

            </div>

            <div class="col-sm-4">
                <label class="uppercase">Playground  </label>
                <div class="col-sm-4">
                    <p class="radio">
                        <input type="radio" formControlName="playGround" [value]="true"  style="width: 18px;
                        position: absolute;
                        margin-left: 38px;
                        margin-top: -9px;"/>
                        <span style="    position: absolute;">
                            Yes
                        </span>
                        <input type="radio" formControlName="playGround" [value]="false"  style="    width: 18px;
                        position: absolute;
                        margin-left: 118px;
                        margin-top: -9px;"/>
                        <span style="margin-left: 89px;    position: absolute;">
                            No
                        </span>
                    
                    </p>
                </div>

            </div>

            <div class="col-sm-4">
                <label class="uppercase">Gymnasium  </label>
                <div class="col-sm-4">
                    <p class="radio">
                        <input type="radio" formControlName="gym" [value]="true"  style="width: 18px;
                        position: absolute;
                        margin-left: 38px;
                        margin-top: -9px;"/>
                        <span style="    position: absolute;">
                            Yes
                        </span>
                        <input type="radio" formControlName="gym" [value]="false"  style="    width: 18px;
                        position: absolute;
                        margin-left: 118px;
                        margin-top: -9px;"/>
                        <span style="margin-left: 89px;    position: absolute;">
                            No
                        </span>
                    
                    </p>
                </div>

            </div>
            <div class="col-sm-4">
                <label class="uppercase">Swimming / Splash Pool  </label>
                <div class="col-sm-4">
                    <p class="radio">
                        <input type="radio" formControlName="pool" [value]="true"  style="width: 18px;
                        position: absolute;
                        margin-left: 38px;
                        margin-top: -9px;"/>
                        <span style="    position: absolute;">
                            Yes
                        </span>
                        <input type="radio" formControlName="pool" [value]="false"  style="    width: 18px;
                        position: absolute;
                        margin-left: 118px;
                        margin-top: -9px;"/>
                        <span style="margin-left: 89px;    position: absolute;">
                            No
                        </span>
                    
                    </p>
                </div>

            </div>

            <div class="col-sm-4">
                <label class="uppercase">Community Service  </label>
                <div class="col-sm-4">
                    <p class="radio">
                        <input type="radio" formControlName="communityService" [value]="true"  style="width: 18px;
                        position: absolute;
                        margin-left: 38px;
                        margin-top: -9px;"/>
                        <span style="    position: absolute;">
                            Yes
                        </span>
                        <input type="radio" formControlName="communityService" [value]="false"  style="    width: 18px;
                        position: absolute;
                        margin-left: 118px;
                        margin-top: -9px;"/>
                        <span style="margin-left: 89px;    position: absolute;">
                            No
                        </span>
                    
                    </p>
                </div>

            </div>

            <div class="col-sm-4">
                <label class="uppercase">Education Loan Assistance   </label>
                <div class="col-sm-4">
                    <p class="radio">
                        <input type="radio" formControlName="loanAssistance" [value]="true"  style="width: 18px;
                        position: absolute;
                        margin-left: 38px;
                        margin-top: -9px;"/>
                        <span style="    position: absolute;">
                            Yes
                        </span>
                        <input type="radio" formControlName="loanAssistance" [value]="false"  style="    width: 18px;
                        position: absolute;
                        margin-left: 118px;
                        margin-top: -9px;"/>
                        <span style="margin-left: 89px;    position: absolute;">
                            No
                        </span>
                    
                    </p>
                </div>

            </div>

            <div class="col-sm-4">
                <label class="uppercase">Campus Security   </label>
                <div class="col-sm-4">
                    <p class="radio">
                        <input type="radio" formControlName="campusSecurity" [value]="true"  style="width: 18px;
                        position: absolute;
                        margin-left: 38px;
                        margin-top: -9px;"/>
                        <span style="    position: absolute;">
                            Yes
                        </span>
                        <input type="radio" formControlName="campusSecurity" [value]="false"  style="    width: 18px;
                        position: absolute;
                        margin-left: 118px;
                        margin-top: -9px;"/>
                        <span style="margin-left: 89px;    position: absolute;">
                            No
                        </span>
                    
                    </p>
                </div>

            </div>
            <div class="row clearfix">
                <div class="col-sm-12">
                  <div class="pull-right">
                    <button type="submit" id="submit-btn" class="btn btn-info nbtn">
                      Save and Continue
                    </button>
                  </div>
                </div>
              </div>


        </form>
    </div>
</main>