<main id="register">
    <div class="page-heading text-center">
        <div class="container">
            <h2>STUDENT ENTROLMENT REGISTER </h2>
        </div>
    </div>
    <div class="row" style="    padding: 47px;">
        <div class="col-sm-6">
            <label class="req uppercase">SELECT COURSE PROGRAM</label>
            <select (change)="changeCourse($event)" name="type" class="form-control">
                        {{courses|json}}
                        <option value="">SELECT COURSE PROGRAM
                                 </option>
                        <option *ngFor="let item of courses" value="{{item.item.id}}">{{item.CourseName}}
                        </option>
                        <!-- <option *ngIf="courses.length ===0" value="">--- No courses added yet ---</option> -->
                      </select>
        </div>
    </div>
    <div class="col-md-12" style="overflow-x: auto;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>SL.No</th>
                    <th>NAME OF APPLICANT</th>
                    <th>DETAILS</th>
                    <!-- <th>DOWNLOAD APPLICATION</th> -->
                    <!-- <th>CHAT</th> -->
                    <!-- <th>DATE OF REPORTING</th> -->
                    <th>DATE OF APTITUDE TEST</th>
                    <th>DATE OF ONLINE INTERVIEW</th>

                    <th>PAYMENT STATUS</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of feeremmitedSApplicants; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{getname(item)}}</td>
                    <td>
                        <a (click)="viewapplication(item.item.applicationId)">View</a>
                    </td>
                    <!-- <td>
                <button class="btn btn-actions btn-success">
                  <i class="zmdi zmdi-download"></i> Download
                </button>
              </td> -->
                    <!-- <td>
                <button class="btn btn-actions btn-success">
                  <i class="zmdi zmdi-circle"></i> {{item.formFieldValues.personalInfo.fullName}}
                </button>
              </td> -->
                    <td>{{item?.item?.ApplicationForm_submission.endDateTimeOfAptitudeTest | date:'MMM d, y'}}</td>
                    <td>{{item?.item?.ApplicationForm_submission.dateOfInterview | date:'MMM d, y'}}</td>
                    <td>PAYMENT COMPLETED</td>
                    <td>
                        <!-- <input type="text" name="" id="" [(ngModel)]="admisionnumber" placeholder="Enter Addmision number" class="form-control"> -->
                        <button class="btn btn-success" style="display: flex;
                        margin: 0 auto;
                        margin-top: 8px;" (click)="update()">Add Addmission Number</button></td>
                    <!-- <td> <button class="btn btn-info" (click)="confirmResubmission(item.id)">Request Resubmition</button>
              </td> -->
                </tr>
                <!-- <tr *ngIf="preApplications?.length<=0">
                    <td colspan="12" align="center">Empty List</td>
                </tr> -->
            </tbody>
        </table>
    </div>

</main>