<main id="register">
    <!-- <pre>{{form.value|json}}</pre> -->
    <div class="page-heading text-center">
        <div class="container">
            <h2>  ELIGIBILITY & JOB AREAS</h2>

        </div>
    </div>

    

    <div class="container success">
        
        <form class="contact" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-12">
                    <label class="req uppercase">Brief description - eligibility REQUIRED  for the course</label>
                    <textarea formControlName="eligibiliyInString" id="" cols="30" rows="10" placeholder="Educational qualification,Age, Cut off marks needed etc"></textarea>
                    <!-- <app-control-messages [touched]="touched" [control]="f.eligibiliyInString"></app-control-messages> -->

                    <!-- <select >
                        <option value="">Educational qualification</option>
                        <option value="">Age</option>
                        <option value="">Educational qualification</option>

                    </select> -->
                    <!-- <button>Add next line</button> -->
                </div>

                <div class="col-sm-12">
                    <label for="">Age Limit Required</label>
                    <input type="text" placeholder="Description Column eg: should be 18 years as on" formControlName="ageLimit" >
                </div>
                <div class="col-sm-12">
                    <label for="">No Age Bar  </label>
                   
                    <input type="text" placeholder="yes or no" formControlName="agebar">
           
                </div>
                <div class="col-sm-12">
                    <label for="">Academic Qualification Required</label>
                    <input type="text" formControlName="academicqualifications">
                </div>
                <div class="col-sm-12">
                    <label for="">Entrance Exam Required</label>
                    <input type="text" formControlName="entranceexam">
                </div>
                <div class="col-sm-6 offset-3">
                    <label class=" uppercase">JOB AREAS</label>
                    <input type="text" formControlName="jobAreas" placeholder="Enter job areas" />
                    <!-- <app-control-messages [touched]="touched" [control]="f.jobAreas"></app-control-messages> -->
                  </div>
          
                  <div class="col-sm-6 offset-3">
                    <label class=" uppercase">JOB POSITIONS</label>
                    <input type="text" formControlName="jobPositions" placeholder="Enter job positions" />
                    <!-- <app-control-messages [touched]="touched" [control]="f.jobPositions"></app-control-messages> -->
                  </div>
          
                  <div class="col-sm-6 offset-3">
                    <label class=" uppercase">SALARY RANGE</label>
                    <input type="text" formControlName="salaryRange" placeholder="Enter salary range" />
                    <!-- <app-control-messages [touched]="touched" [control]="f.salaryRange"></app-control-messages> -->
                  </div>
          
                  <div class="clearfix"></div>
          
                  <div class="col-sm-6">
                    <div class="col-md-9">
                      <label class=" uppercase">PLACEMENT ASSSTANCE OFFERED </label>
                    </div>
                    <div class="col-md-3">
                      <p class="checkbox">
                        <input type="checkbox" formControlName="hasPlacementAssistant" /><span> </span>
                      </p>
                    </div>
          
                    <div class="clearfix"></div>
                    <div *ngIf="form.controls.hasPlacementAssistant.value">
                      <div class="col-md-12">
                        <label class=" uppercase">RECRUITERS </label>
                        <input type="text" placeholder="For Eg; Infoys, Wipro etc" formControlName="recruiters" id="" />
                        <!-- <app-control-messages [touched]="touched" [control]="f.recruiters"></app-control-messages> -->
                      </div>
                    </div>
                  </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <button id="submit-btn" type="submit" class="btn btn-info mb-5" [disabled]="form.invalid">
                                SAVE AND CONTINUE
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>