<main id="register">
    <div class="page-heading text-center">
        <div class="container">
            <h2>UPDATE BOARD OF COUNCIL </h2>
        </div>
    </div>
    <div class="container success">
        <form class="contact" [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
          <div class="row">
            <div class="col-sm-12">
              <label class="uppercase">Unit of</label>
              <input type="text" formControlName="unitOfLabel" placeholder="" required />
              <app-control-messages [touched]="touched" [control]="f.unitOfLabel"></app-control-messages>
            </div>
    
            <div class="col-sm-12">
              <label class="uppercase">Affliated to</label>
              <div class="col-md-4">
                <input type="file" (change)="onchangeFile('affiliatedToFile',$event)" formControlName="affiliatedToFile"
                  id="" />
                <app-control-messages [touched]="touched" [control]="f.affiliatedToFile"></app-control-messages>
    
              </div>
              <div class="col-md-8">
                <input type="text" formControlName="affiliatedToLabel" placeholder="Affliated to" required />
                <app-control-messages [touched]="touched" [control]="f.affiliatedToLabel"></app-control-messages>
    
              </div>
            </div>
    
            <div class="col-sm-12">
              <label class="uppercase">Recognized By</label>
              <div class="col-md-4">
                <input type="file" (change)="onchangeFile('recongnizedByFile',$event)" formControlName="recongnizedByFile"
                  id="" />
                <app-control-messages [touched]="touched" [control]="f.recongnizedByFile"></app-control-messages>
    
              </div>
              <div class="col-md-8">
                <input type="text" formControlName="recongnizedByLabel" placeholder="Recognized By" required />
                <app-control-messages [touched]="touched" [control]="f.recongnizedByLabel"></app-control-messages>
    
              </div>
            </div>
    
            <div class="col-sm-12">
              <label class="uppercase">Registered To</label>
              <div class="col-md-4">
                <input type="file" (change)="onchangeFile('registeredToFile',$event)" formControlName="registeredToFile"
                  id="" />
                <app-control-messages [touched]="touched" [control]="f.registeredToFile"></app-control-messages>
    
              </div>
              <div class="col-md-8">
                <input type="text" formControlName="registeredToLabel" placeholder="Registered To" required />
                <app-control-messages [touched]="touched" [control]="f.registeredToLabel"></app-control-messages>
    
              </div>
            </div>
    
            <div class="col-sm-12">
              <label class="uppercase">Approved By</label>
              <div class="col-md-4">
                <input type="file" (change)="onchangeFile('approvedByFile',$event)" formControlName="approvedByFile"
                  id="" />
                <app-control-messages [touched]="touched" [control]="f.approvedByFile"></app-control-messages>
              </div>
              <div class="col-md-8">
                <input type="text" formControlName="approvedByLabel" placeholder="Approved By" required />
                <app-control-messages [touched]="touched" [control]="f.approvedByLabel"></app-control-messages>
              </div>
            </div>
    
            <div class="col-sm-12">
              <label class="uppercase">Accredation By</label>
              <div class="col-md-4">
                <input type="file" (change)="onchangeFile('accreditedByFile',$event)" formControlName="accreditedByFile"
                  id="" />
                <app-control-messages [touched]="touched" [control]="f.accreditedByFile"></app-control-messages>
    
              </div>
              <div class="col-md-8">
                <input type="text" formControlName="accreditedByLabel" placeholder="Accredation By" required />
                <app-control-messages [touched]="touched" [control]="f.accreditedByLabel"></app-control-messages>
              </div>
            </div>
    
            <div class="col-sm-12">
              <label class="uppercase">Certified By</label>
              <div class="col-md-4">
                <input type="file" (change)="onchangeFile('certifiedByFile',$event)" formControlName="certifiedByFile"
                  id="" />
                <app-control-messages [touched]="touched" [control]="f.certifiedByFile"></app-control-messages>
              </div>
              <div class="col-md-8">
                <input type="text" formControlName="certifiedByLabel" placeholder="Certified By" required />
                <app-control-messages [touched]="touched" [control]="f.certifiedByLabel"></app-control-messages>
              </div>
            </div>
    
            <div class="col-sm-12">
              <label class="uppercase">Member of </label>
              <div class="col-md-4">
                <input type="file" (change)="onchangeFile('memberOfFile',$event)" formControlName="memberOfFile"
                  id="" />
                <app-control-messages [touched]="touched" [control]="f.memberOfFile"></app-control-messages>
              </div>
              <div class="col-md-8">
                <input type="text" formControlName="memberOfLabel" placeholder="Member of " required />
                <app-control-messages [touched]="touched" [control]="f.memberOfLabel"></app-control-messages>
              </div>
            </div>
          </div>
        
    
          <div class="row clearfix">
            <div class="col-sm-12">
              <div class="pull-right">
                <button type="submit" id="submit-btn" class="btn btn-info nbtn">
                  Save and Continue
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
</main>