<main id="register">
    <div class="page-heading text-center">
        <div class="container">
            <h2>UPDATE BOARD OF COUNCIL </h2>
        </div>
    </div>
    <div class="container success">
        <form class="contact" [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
            <div class="row">

                <!-- <div class="col-sm-12">
            <label class="uppercase">Rank </label>
            <input type="text" formControlName="rankofFile" placeholder=""  />
            <app-control-messages [touched]="touched" [control]="f.rankofFile"></app-control-messages>
          </div> -->
                <div class="col-sm-12">
                    <div class="col-md-4">
                        <label class="uppercase">Trust</label>

                        <input type="text" formControlName="trust" id="" placeholder="Trust" />


                    </div>

                    <div class="col-md-8">
                        <label class="uppercase">Group</label>
                        <input type="text" formControlName="group" placeholder="Group"  />

                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="uppercase">AFFILIATED</label>
                    <div class="col-md-4">
                        <input type="file" (change)="onchangeFile('affiliatedToFile',$event)" formControlName="affiliatedToFile" id="" />
                        <app-control-messages [touched]="touched" [control]="f.affiliatedToFile"></app-control-messages>

                    </div>

                    <div class="col-md-8">
                        <input type="text" formControlName="affiliatedToLabel" placeholder="Affliated to"  />
                        <app-control-messages [touched]="touched" [control]="f.affiliatedToLabel"></app-control-messages>

                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="uppercase">Recognition By</label>
                    <div class="col-md-4">
                        <input type="file" (change)="onchangeFile('recongnizedByFile',$event)" formControlName="recongnizedByFile" id="" />
                        <app-control-messages [touched]="touched" [control]="f.recongnizedByFile"></app-control-messages>

                    </div>
                    <div class="col-md-8">
                        <input type="text" formControlName="recongnizedByLabel" placeholder="Recognition By"  />
                        <app-control-messages [touched]="touched" [control]="f.recongnizedByLabel"></app-control-messages>

                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="uppercase">ACCREDITATION</label>
                    <div class="col-md-4">
                        <input type="file" (change)="onchangeFile('accreditedByFile',$event)" formControlName="accreditedByFile" id="" />
                        <app-control-messages [touched]="touched" [control]="f.accreditedByFile"></app-control-messages>

                    </div>
                    <div class="col-md-8">
                        <input type="text" formControlName="accreditedByLabel" placeholder="Accredation By"  />
                        <app-control-messages [touched]="touched" [control]="f.accreditedByLabel"></app-control-messages>
                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="uppercase">Certified By</label>
                    <div class="col-md-4">
                        <input type="file" (change)="onchangeFile('certifiedByFile',$event)" formControlName="certifiedByFile" id="" />
                        <app-control-messages [touched]="touched" [control]="f.certifiedByFile"></app-control-messages>
                    </div>
                    <div class="col-md-8">
                        <input type="text" formControlName="certifiedByLabel" placeholder="Certified By"  />
                        <app-control-messages [touched]="touched" [control]="f.certifiedByLabel"></app-control-messages>
                    </div>
                </div>

                <div class="col-sm-12">
                    <label class="uppercase">Under Section Act </label>
                    <div class="col-md-4">
                        <input type="file" (change)="onchangeFile('underSectionActofFile',$event)" formControlName="underSectionActofFile" id="" />
                        <app-control-messages [touched]="touched" [control]="f.underSectionActofFile"></app-control-messages>

                    </div>
                    <div class="col-md-8">
                        <input type="text" formControlName="underSectionActofLabel" placeholder="Under Section Act"  />
                        <app-control-messages [touched]="touched" [control]="f.underSectionActofLabel"></app-control-messages>

                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="uppercase">Rank File</label>
                    <div class="col-md-4">
                        <input type="file" (change)="onchangeFile('rankofFile',$event)" formControlName="rankofFile" id="" />
                        <app-control-messages [touched]="touched" [control]="f.rankofFile"></app-control-messages>

                    </div>
                    <div class="col-md-8">
                        <input type="text" formControlName="rankofLabel" placeholder="Rank"  />
                        <app-control-messages [touched]="touched" [control]="f.rankofLabel"></app-control-messages>

                    </div>
                </div>

                <div class="col-sm-12">
                    <label class="uppercase">Award </label>
                    <div class="col-md-4">
                        <input type="file" (change)="onchangeFile('awardsofFile',$event)" formControlName="awardsofFile" id="" />
                        <app-control-messages [touched]="touched" [control]="f.awardsofFile"></app-control-messages>

                    </div>
                    <div class="col-md-8">
                        <input type="text" formControlName="awardsofLabel" placeholder="Award Name"  />
                        <app-control-messages [touched]="touched" [control]="f.awardsofLabel"></app-control-messages>

                    </div>
                </div>

                <div class="col-sm-12">
                    <label class="uppercase">Rated </label>
                    <div class="col-md-4">
                        <input type="file" (change)="onchangeFile('ratedByFile',$event)" formControlName="ratedByFile" id="" />
                        <app-control-messages [touched]="touched" [control]="f.ratedByFile"></app-control-messages>

                    </div>
                    <div class="col-md-8">
                        <input type="text" formControlName="ratedByLabel" placeholder="Rated"  />
                        <app-control-messages [touched]="touched" [control]="f.ratedByLabel"></app-control-messages>

                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="uppercase">Accorded </label>
                    <div class="col-md-4">
                        <input type="file" (change)="onchangeFile('accordedByFile',$event)" formControlName="accordedByFile" id="" />
                        <app-control-messages [touched]="touched" [control]="f.accordedByFile"></app-control-messages>

                    </div>
                    <div class="col-md-8">
                        <input type="text" formControlName="accordedByLabel" placeholder="Accorded"  />
                        <app-control-messages [touched]="touched" [control]="f.accordedByLabel"></app-control-messages>

                    </div>
                </div>
                <div class="col-sm-12">
                    <!-- <label class="uppercase"></label>
            <input type="text" formControlName="unitOfLabel" placeholder=""  />
            <app-control-messages [touched]="touched" [control]="f.unitOfLabel"></app-control-messages> -->

                    <label class="uppercase">Unit of </label>
                    <div class="col-md-4">
                        <input type="file" (change)="onchangeFile('unitOfFile',$event)" formControlName="unitOfFile" id="" />
                        <app-control-messages [touched]="touched" [control]="f.unitOfFile"></app-control-messages>

                    </div>
                    <div class="col-md-8">
                        <input type="text" formControlName="unitOfLabel" placeholder="Unit of"  />
                        <app-control-messages [touched]="touched" [control]="f.unitOfLabel"></app-control-messages>

                    </div>
                </div>




                <div class="col-sm-12">
                    <label class="uppercase">Established </label>
                    <div class="col-md-4">
                        <input type="file" (change)="onchangeFile('establishedOfFile',$event)" formControlName="establishedOfFile" id="" />
                        <app-control-messages [touched]="touched" [control]="f.establishedOfFile"></app-control-messages>

                    </div>
                    <div class="col-md-8">
                        <input type="text" formControlName="establishedOfLabel" placeholder="Established"  />
                        <app-control-messages [touched]="touched" [control]="f.establishedOfLabel"></app-control-messages>

                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="uppercase">Board </label>
                    <div class="col-md-4">
                        <input type="file" (change)="onchangeFile('boardByFile',$event)" formControlName="boardByFile" id="" />
                        <app-control-messages [touched]="touched" [control]="f.boardByFile"></app-control-messages>

                    </div>
                    <div class="col-md-8">
                        <input type="text" formControlName="boardByLabel" placeholder="Board"  />
                        <app-control-messages [touched]="touched" [control]="f.boardByLabel"></app-control-messages>

                    </div>
                </div>




                <div class="col-sm-12">
                    <label class="uppercase">Registered To</label>
                    <div class="col-md-4">
                        <input type="file" (change)="onchangeFile('registeredToFile',$event)" formControlName="registeredToFile" id="" />
                        <app-control-messages [touched]="touched" [control]="f.registeredToFile"></app-control-messages>

                    </div>
                    <div class="col-md-8">
                        <input type="text" formControlName="registeredToLabel" placeholder="Registered To"  />
                        <app-control-messages [touched]="touched" [control]="f.registeredToLabel"></app-control-messages>

                    </div>
                </div>

                <div class="col-sm-12">
                    <label class="uppercase">Approved By</label>
                    <div class="col-md-4">
                        <input type="file" (change)="onchangeFile('approvedByFile',$event)" formControlName="approvedByFile" id="" />
                        <app-control-messages [touched]="touched" [control]="f.approvedByFile"></app-control-messages>
                    </div>
                    <div class="col-md-8">
                        <input type="text" formControlName="approvedByLabel" placeholder="Approved By"  />
                        <app-control-messages [touched]="touched" [control]="f.approvedByLabel"></app-control-messages>
                    </div>
                </div>





                <div class="col-sm-12">
                    <label class="uppercase">Member of </label>
                    <div class="col-md-4">
                        <input type="file" (change)="onchangeFile('memberOfFile',$event)" formControlName="memberOfFile" id="" />
                        <app-control-messages [touched]="touched" [control]="f.memberOfFile"></app-control-messages>
                    </div>
                    <div class="col-md-8">
                        <input type="text" formControlName="memberOfLabel" placeholder="Member of "  />
                        <app-control-messages [touched]="touched" [control]="f.memberOfLabel"></app-control-messages>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <label class="uppercase">LICENSE</label>
                <div class="col-md-4">
                    <input type="file" (change)="onchangeFile('licenceByFile',$event)" formControlName="licenceByFile" id="" />
                    <app-control-messages [touched]="touched" [control]="f.licenceByFile"></app-control-messages>
                </div>
                <div class="col-md-8">
                    <input type="text" formControlName="licenceByLabel" placeholder="Licence"  />
                    <app-control-messages [touched]="touched" [control]="f.licenceByLabel"></app-control-messages>
                </div>
            </div>
            <div class="col-sm-12">
                <label class="uppercase">Collaboration </label>
                <div class="col-md-4">
                    <input type="file" (change)="onchangeFile('collaborationByFile',$event)" formControlName="collaborationByFile" id="" />
                    <app-control-messages [touched]="touched" [control]="f.collaborationByFile"></app-control-messages>
                </div>
                <div class="col-md-8">
                    <input type="text" formControlName="collaborationByLabel" placeholder="Collaboration"  />
                    <app-control-messages [touched]="touched" [control]="f.collaborationByLabel"></app-control-messages>
                </div>
            </div>
            <!-- <div class="row">
          <h4 class="sub-title uppercase">Other Highlights</h4>
  
          <div class="col-sm-6">
            <label class="uppercase">BROCHURE </label>
            <input type="file" (change)="onchangeFile('brochuresFile',$event)" formControlName="brochuresFile" id="" />
            <app-control-messages [touched]="touched" [control]="f.brochuresFile"></app-control-messages>
          </div>
  
          <div class="col-sm-6">
            <label class="uppercase">RULES & REGULATIONS </label>
            <input type="file" (change)="onchangeFile('rulesFile',$event)" formControlName="rulesFile" id="" />
            <app-control-messages [touched]="touched" [control]="f.rulesFile"></app-control-messages>
          </div>
  
          <div class="col-sm-6">
            <label class="uppercase">UNIFORM </label>
            <input type="file" (change)="onchangeFile('uniformFile',$event)" formControlName="uniformFile" id="" />
            <app-control-messages [touched]="touched" [control]="f.uniformFile"></app-control-messages>
          </div>
  
          <div class="col-sm-6">
            <label class="uppercase">HIGHLIGHTS/SPECIAL FEATURES </label>
            <input type="file" (change)="onchangeFile('specialFeaturesFile',$event)" formControlName="specialFeaturesFile"
              id="" />
            <app-control-messages [touched]="touched" [control]="f.specialFeaturesFile"></app-control-messages>
          </div>
        </div> -->

            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <button type="submit" id="submit-btn" class="btn btn-info nbtn">
                Save and Continue
              </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>