<main id="register">
    <div class="page-heading text-center">
      <div class="container">
        <h2>UPDATE INSTITUTION KYC</h2>
      </div>
    </div>
    <div class="container success">
      <h4 class="sub-title">EDUCATIONAL INSTITUTION - KYC</h4>
      <form class="contact" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-sm-12">
            <label class="req">NAME OF THE INSTITUTION</label>
            <input type="text" formControlName="name" placeholder="enter name of the institution" />
            <!-- <div *ngIf="touched && f.name.errors && f.name.errors.required">
              Name is. {{f.name.errors|json}}
            </div>-->
            <app-control-messages [touched]="touched" [control]="f.name"></app-control-messages>
          </div>
          <div class="col-sm-6">
            <label class="req uppercase"> Establishment Year </label>
  
            <input type="text" placeholder="Enter Establishment Year" formControlName="year_of_establishment"  />
            <app-control-messages [control]="f.year_of_establishment" [touched]="touched"></app-control-messages>
          </div>
          <div class="col-sm-6">
            <label class="req">TYPE OF THE INSTITUTION</label>
            <select formControlName="typeId">
              <option value="">Select Institution type</option>
              <option *ngFor="let type of instituteTypes" value="{{type.id}}">{{type.title}}</option>
              <!-- <option value="2">LP school</option>
              <option value="3">UP school</option>
              <option value="3">High School</option>
              <option value="3">Higher Secondary School</option>
              <option value="3">Professional College</option>
              <option value="3">Training Institutes</option>
              <option value="3">Tution Centres</option>
              <option value="3">Other</option> -->
            </select>
            <app-control-messages [control]="f.typeId" [touched]="touched"></app-control-messages>
  
          </div>
          <div class="col-sm-6">
            <label class="req"> INSTITUTION CATEGORY</label>
            <select formControlName="institute_category">
              <option value="">Select Institution Category</option>
              <option value="Organisation">Organisation</option>
              <option value="University">University</option>
              <option value="Council ">Council </option>
  
            </select>
            <app-control-messages [control]="f.typeId" [touched]="touched"></app-control-messages>
  
          </div>
          <div class="col-sm-6 offset-3">
            <label class="req uppercase">College/Institute-Code</label>
            <input type="text" formControlName="code" placeholder="Enter institute code" />
            <app-control-messages [control]="f.code" [touched]="touched"></app-control-messages>
          </div>
          <div class="col-sm-6 offset-3">
            <label class="req uppercase">Ownership</label>
            <!-- <input type="text"  placeholder="Enter ownership" /> -->
            <select name="" id="" formControlName="ownership">
              <option value="" selected disabled>Choose a ownership</option>
  
              <option value="Public/Government">Public/Government</option>
              <option value="Private">Private</option>
              <option value="Community">Community</option>
              <option value="Trade/Career">Trade/Career</option>
              <option value="Global Partnership">Global Partnership</option>
  
  
            </select>
  
  
            <app-control-messages [control]="f.ownership" [touched]="touched"></app-control-messages>
          </div>
          <div class="col-sm-6">
            <label class="req uppercase">Name of the Principal/Admission Counselor/Director or Authorised person</label>
            <input type="text" formControlName="principalName" placeholder="Enter name of the principal" />
            <app-control-messages [control]="f.principalName" [touched]="touched"></app-control-messages>
          </div>
          <div class="col-sm-6">
            <label class="req uppercase"> Designation </label>
  
            <input type="text" placeholder="Enter Designation" formControlName="designation"/>
            <app-control-messages [control]="f.designation" [touched]="touched"></app-control-messages>
          </div>
          <div class="col-sm-6">
            <label class="req uppercase"> Official Email id of the Designated person </label>
  
            <input type="text" disabled placeholder="Enter Official Email id of the Designated person" formControlName="officialEmail"/>
            <app-control-messages [control]="f.officialEmail" [touched]="touched"></app-control-messages>
          </div>
          
          <div class="col-sm-6">
            <label class="req uppercase">Official mobile number of the Principal / Other official person</label>
            <div class="row">
              <div class="col-sm-7">
                <div class="input-group">
                  <span class="input-group-addon">+91</span>
                  <input disabled type="text" id="officialMobile" formControlName="officialMobile" placeholder="Mobile number" />
  
                </div>
                <app-control-messages [control]="f.officialMobile" [touched]="touched"></app-control-messages>
              </div>
              <!-- <div class="col-sm-2">
                <button id="officialMobileVerifyBtn" (click)="confirmMobileNumberBeforeSMS(f.officialMobile.value)"
                  type="button" class="btn btn-info">Verify</button>
              </div>
              <div class="col-sm-3">
                <button id="officialMobileEnterOtp" (click)="enterOTP(f.officialMobile.value)" type="button"
                  class="btn btn-success">I have an
                  OTP</button>
              </div> -->
            </div>
  
          </div>
          <!-- <pre>{{licenseIssueAuthorities|json}}</pre> -->
         <div class="col-sm-12">
          <h4 class="sub-title" style="    margin-top: 67px;
          margin-bottom: 51px;">GOVERNMENT LICENSE OF THE INSTITUTE /LEGAL REGISTRATION INFO</h4>
  
         </div>
          <div class="col-sm-6">
            <label class="req uppercase">License Issuing Authority</label>
            <select formControlName="licenseIssueAuthorityId">
              <!-- <option value="">Select </option> -->
              <option *ngFor="let item of licenseIssueAuthorities" value="{{item.id}}">{{item.title}}</option>
            </select>
  
            <app-control-messages [control]="f.licenseIssueAuthorityId" [touched]="touched"></app-control-messages>
          </div>
  
          <div class="col-sm-6">
            <label class="req uppercase">License Issuing Authority Body Name</label>
            <input type="text" formControlName="licenseAuthorityName"
              placeholder="Enter license issue authority body name" />
            <app-control-messages [control]="f.licenseAuthorityName" [touched]="touched"></app-control-messages>
          </div>
  
          <div class="col-sm-6">
            <label class="req uppercase">License Number</label>
            <input type="text" formControlName="licenseNumber" placeholder="Enter license number" />
            <app-control-messages [control]="f.licenseNumber" [touched]="touched"></app-control-messages>
          </div>
  
          <div class="col-sm-6">
            <label class="req uppercase">Name of Panchayat/Municipality</label>
            <input type="text" formControlName="nameofTown" placeholder="Enter the name of the panchayath/municipality" />
            <app-control-messages [control]="f.nameofTown" [touched]="touched"></app-control-messages>
          </div>
  
          <div class="col-sm-6">
            <label class="req uppercase">License Issued Date</label>
            <input type="date" formControlName="licenseIssuedDate" placeholder="Choose licese issued date" />
            <app-control-messages [control]="f.licenseIssuedDate" [touched]="touched"></app-control-messages>
          </div>
  
          <div class="col-sm-6">
            <label class="req uppercase">License Renewal Date</label>
            <input type="date" formControlName="licenseRenewalDate" placeholder="Choose license renewal date" />
            <app-control-messages [control]="f.licenseRenewalDate" [touched]="touched"></app-control-messages>
          </div>
          <div class="col-sm-6">
            <label class="req uppercase">Institute AID Status</label>
            <select formControlName="institute_aid_status">
              <option value="" selected disabled>Choose a AID status</option>
              <option value="Aided">Aided  </option>
              <option value="Unaided">Unaided    </option>
              <option value="N/A">N/A  </option>
  
            </select>
            <app-control-messages [control]="f.institute_aid_status" [touched]="touched"></app-control-messages>
          </div>
        </div>
  
        <div class="clearfix"></div>
        <h4 class="sub-title" style="text-transform: uppercase;">
          Corporate/Head Office Address Of the Institute
        </h4>
        <div class="row">
          <div class="col-sm-12">
            <label class="req uppercase">Address Line 1</label>
            <input type="text" formControlName="addressLine1" placeholder="Address Line 1" />
            <app-control-messages [control]="f.addressLine1" [touched]="touched"></app-control-messages>
          </div>
  
          <div class="col-sm-12">
            <label class="req uppercase">Address Line 2</label>
            <input type="text" formControlName="addressLine2" placeholder="Address Line 2" />
            <app-control-messages [control]="f.addressLine2" [touched]="touched"></app-control-messages>
          </div>
  
          <div class="col-sm-12">
            <label class="req uppercase">Address Line 3</label>
            <input type="text" formControlName="addressLine3" placeholder="Address Line 3" />
            <app-control-messages [control]="f.addressLine3" [touched]="touched"></app-control-messages>
          </div>
  
          <div class="col-sm-4">
            <label class="req uppercase">Country</label>
            <input type="text" formControlName="country" placeholder="Country" />
            <app-control-messages [control]="f.country" [touched]="touched"></app-control-messages>
          </div>
  
          <div class="col-sm-4">
            <label class="req uppercase">State</label>
            <input type="text" formControlName="state" placeholder="Country" />
            <app-control-messages [control]="f.state" [touched]="touched"></app-control-messages>
          </div>
  
          <div class="col-sm-4">
            <label class="req uppercase">District</label>
            <input type="text" formControlName="district" placeholder="District" />
            <app-control-messages [control]="f.district" [touched]="touched"></app-control-messages>
          </div>
  
          <div class="col-sm-4">
            <label class="req uppercase">Block</label>
            <input type="text" formControlName="block" placeholder="Block" />
            <app-control-messages [control]="f.block" [touched]="touched"></app-control-messages>
          </div>
  
          <div class="col-sm-4">
            <label class="req uppercase">Village/Municipality </label>
            <input type="text" formControlName="town" placeholder="Villege / municipality" />
            <app-control-messages [control]="f.town" [touched]="touched"></app-control-messages>
          </div>
  
          <div class="col-sm-4">
            <label class="req uppercase">Postal Code</label>
            <input type="text" formControlName="pin" placeholder="Country" />
            <app-control-messages [control]="f.pin" [touched]="touched"></app-control-messages>
          </div>
  
          <div class="col-sm-12">
            <label class="req uppercase">OFFICIAL Institute Email id</label>
            <input type="text" formControlName="email" placeholder="Enter a valid email address" />
            <app-control-messages [control]="f.email" [touched]="touched"></app-control-messages>
          </div>
  
          <div class="col-sm-6">
            <label class="req uppercase">Office Telephone 1</label>
            <input type="text" formControlName="telephone1" placeholder="Enter a telephone number" />
            <app-control-messages [control]="f.telephone1" [touched]="touched"></app-control-messages>
          </div>
  
          <div class="col-sm-6">
            <label class="uppercase">Office Telephone 2</label>
            <input type="text" formControlName="telephone2" placeholder="Enter a telephone number" />
            <app-control-messages [control]="f.telephone2" [touched]="touched"></app-control-messages>
          </div>
  
          <div class="col-sm-6">
            <label class="uppercase">Office Mobile number 1</label>
            <div class="input-group">
              <span class="input-group-addon">+91</span>
              <input type="text" formControlName="mobile1" placeholder="Enter a mobile number" />
              <app-control-messages [control]="f.mobile1" [touched]="touched"></app-control-messages>
            </div>
          </div>
  
          <div class="col-sm-6">
            <label class="uppercase">Office Mobile number 2</label>
            <div class="input-group">
              <span class="input-group-addon">+91</span>
              <input type="text" formControlName="mobile2" placeholder="Enter a mobile number" />
              <app-control-messages [control]="f.mobile2" [touched]="touched"></app-control-messages>
            </div>
          </div>
          <div class="clearfix"></div>
          <h4 class="sub-title" style="text-transform: uppercase;">
            Official Primary Chief Admission Officer Info
          </h4>
          <div class="col-sm-12">
            <label class="req uppercase">Enter Chief Admission Officer's Official Email ID for recieving all students admission notifications?</label>
            <input type="text" formControlName="admission_office_email" placeholder="Enter a valid email address" />
            <app-control-messages [control]="f.admission_office_email" [touched]="touched"></app-control-messages>
          </div>
          <div class="col-sm-12">
            <label class="req uppercase">Enter Chief Admission Officer's Official Mob No: 1</label>
            <input type="text" formControlName="admission_office_mobileno1" placeholder="Enter a Chief Admission Officer's Official Mob No: 1" />
            <app-control-messages [control]="f.admission_office_mobileno1" [touched]="touched"></app-control-messages>
          </div>
          <div class="col-sm-12">
            <label class="req uppercase">Enter Chief Admission Officer's Official Mob No: 2</label>
            <input type="text" formControlName="admission_office_mobileno2" placeholder="Enter a Chief Admission Officer's Official Mob No: 2" />
            <app-control-messages [control]="f.admission_office_mobileno2" [touched]="touched"></app-control-messages>
          </div>
          <!-- <div class="col-sm-12">
            <label class="uppercase">Hostel & Transport </label>
            <div class="col-sm-2">
              <p class="checkbox">
                <input type="checkbox" formControlName="haveBoysHostel" />
                <span>Boys</span>
              </p>
            </div>
            <div class="col-sm-2">
              <p class="checkbox">
                <input type="checkbox" formControlName="haveGirlsHostel" />
                <span>Girls</span>
              </p>
            </div>
            <div class="col-sm-2">
              <p class="checkbox">
                <input type="checkbox" formControlName="foodAvailableAtHostel" />
                <span>Food</span>
              </p>
            </div>
            <div class="col-sm-2">
              <p class="checkbox">
                <input type="checkbox" formControlName="busAvailablity" />
                <span>Bus Facility</span>
              </p>
            </div>
            <div class="col-sm-2">
              <p class="checkbox">
                <input type="checkbox" formControlName="vanavailablity" />
                <span>Van Facility</span>
              </p>
            </div>
          </div> -->
          
          <!-- <div class="col-sm-6">
            <label class="uppercase">Annual Fee INFO</label>
            <input type="text" formControlName="hostalAnnualFee" placeholder="Annual Fees " />
            <app-control-messages [control]="f.hostalAnnualFee" [touched]="touched"></app-control-messages>
          </div>
          <div class="col-sm-6">
            <label class="uppercase">TRANSPORTATION INFO</label>
  
            <input type="text" formControlName="transportationInfo" placeholder="Enter transportation info" />
            <app-control-messages [control]="f.transportationInfo" [touched]="touched"></app-control-messages>
          </div>
          <div class="col-sm-6">
            <label class="uppercase">Route & Distance Info</label>
            <input type="text" formControlName="routeInfo" placeholder="Route " />
            <app-control-messages [control]="f.routeInfo" [touched]="touched"></app-control-messages>
          </div> -->
          <div class="col-sm-6">
            <label class="uppercase">Religious Minority Institute</label>
            <select formControlName="religiousMinority">
              <option value="yes">Yes</option>
              <option value="no">No</option>

              <!-- <option value="2">LP school</option>
              <option value="3">UP school</option>
              <option value="3">High School</option>
              <option value="3">Higher Secondary School</option>
              <option value="3">Professional College</option>
              <option value="3">Training Institutes</option>
              <option value="3">Tution Centres</option>
              <option value="3">Other</option> -->
            </select>
            <app-control-messages [control]="f.typeId" [touched]="touched"></app-control-messages>
  
          </div>
          <div class="col-sm-12">
            <label class="uppercase">Google MAP LOCATION</label>
  
            <div class="col-sm-6">
              <input type="text" formControlName="gmapLatitude" placeholder="latitude" />
              <app-control-messages [control]="f.gmapLatitude" [touched]="touched"></app-control-messages>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="gmapLongitude" placeholder="longitude" />
              <app-control-messages [control]="f.gmapLongitude" [touched]="touched"></app-control-messages>
            </div>
          </div>
          <div class="col-sm-12">
            <!-- (reset)="handleReset()"
            (expire)="handleExpire()"
            [size]="size"
           [hl]="lang"
           [theme]="theme"
            [type]="type"
          -->
           
            <!-- <ngx-recaptcha2 #captchaElem
            [siteKey]="'6LeOZ4YUAAAAAJ8clQYNtOXNDHsd58KZHyJeILk6'"
          
            (success)="handleSuccess($event)"
            [useGlobalDomain]="false"
          
           
           
            formControlName="recaptcha">
          </ngx-recaptcha2> -->
            <!-- <div class="card">
              <input type="checkbox" class="form-control">
            </div> -->
            <label class="uppercase">About us</label>
            <textarea formControlName="aboutUs" id="" cols="30" rows="10">


            </textarea>
          </div>
          <div class="col-sm-12">
            <label class="uppercase">Institute Website Link</label>
            <input type="text" placeholder="website link" formControlName="websitelink">  
          </div>

        </div>
  
  
        
       
        <div class="row clearfix">
          <div class="col-sm-12">
            <div class="pull-right">
              <button type="submit" id="submit-btn" class="btn btn-info mt-3">
                Save and Continue
              </button>
            </div>
          </div>
        </div>
      </form>
  
      <!-- {{form.status}}
      {{form.value|json}}{{form.invalid}} -->
    </div>
  </main>

  <!-- <pre>  {{form.value|json}}</pre> -->