.card{
    background: #1a4d59;
    /* color: white; */
    padding: 27px;
    height: 133px;
    border-radius: 10px;
    text-align: center;

}
h6{
    color: white;
    font-weight: bold;
}
.row{
    margin-top: 20px
}