
<main>
    <div class="page-heading text-center">
        <div class="container">
            <h2 class="uppercase">DOCUMENTS </h2>
        </div>
    </div>
<div class="container">
    <div class="row">
       
            <div class="col-sm-3" *ngFor="let certificates of finalArray" style="margin-bottom: 10px;">
            <div class="card" >

                <h6>{{insertSpaces(certificates.type) | titlecase}}</h6>
                <button class="btn btn-info" style="margin-top: 18px;" (click)="download(certificates.value)">View Or Download</button>
            </div>
        </div>
    </div>
</div>
</main>