.sub-title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #202020;
  font-weight: 600;
  margin-top: 50px;
}
.contact select {
  width: 100%;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  height: 40px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  color: #5f5f5f;
  font-size: 11px;
  padding-left: 15px;
  background: #fff;
}
.btn-actions {
  min-width: 100px;
}
.action-row {
  width: 200px;
}
/* input:checked:before{
  background-color:green;
  } */
  .k-checkbox {
    background: green !important;
  }
  input[type=checkbox]:after {
    background: #a70000!important;
    visibility: visible;
    content: "✘";
    display: inline-block;
    color: white;
    /* font-size: 17px; */
    font-size: 31px;
    height: 44px;
    width: 44px;
    border-radius: 5px;
    padding-left: 5px;
  }
  input[type=checkbox]:checked:after {
    background: #3eb983!important;
    content: "✔";
    padding-left: 2px;
    color: white;
    /* font-size: 17px; */
    font-size: 31px;
  }
.checkbox{
    visibility: hidden;
    margin-left: 53px;
    margin-bottom: 13px;
}